<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#library" data-toc-modified-id="library-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>library</a></span></li><li><span><a href="#data" data-toc-modified-id="data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>data</a></span></li><li><span><a href="#가격관련지표" data-toc-modified-id="가격관련지표-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>가격관련지표</a></span></li><li><span><a href="#보조지표df의-cols-에서-가격관련지표를-뺀-것-" data-toc-modified-id="보조지표df의-cols-에서-가격관련지표를-뺀-것--4"><span class="toc-item-num">4&nbsp;&nbsp;</span>보조지표df의 cols 에서 가격관련지표를 뺀 것 <br></a></span></li><li><span><a href="#scaling-by-전-날-종가" data-toc-modified-id="scaling-by-전-날-종가-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>scaling by 전 날 종가</a></span></li></ul></div>

# library

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import pandas as pd
import numpy as np
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

# data

In [2]:
보조지표df = pd.read_feather('보조지표추가_cd_nuniq=2348.ftr', columns = None, use_threads = True)

In [3]:
보조지표df

,date,code,open,high,low,close,volume,tradingvalue,change,ma_5,...,SRSI,TSI,UO,SR,WR,AO,KAMA,ROC,PPO,PVO
0,19960701,000010,36496,37676,36496,37588,14499,542221500,1.18,NaN,...,0.000000,0.000000,0.000000,92.542373,-7.457627,0.000000,37588.000000,0.000000,0.000000,0.000000
1,19960702,000010,37588,38462,37151,37938,30476,1153293600,0.93,NaN,...,0.000000,100.000000,31.593737,73.346897,-26.653103,0.000000,37743.555556,0.000000,0.074228,8.127021
2,19960703,000010,38025,38025,37151,37719,18375,694638000,-0.58,NaN,...,0.000000,98.619124,40.267459,62.207528,-37.792472,0.000000,37732.880541,0.000000,0.085075,8.142756
3,19960704,000010,37719,37938,37151,37370,22539,849041000,-0.93,NaN,...,0.000000,95.325955,37.909441,44.455748,-55.544252,0.000000,37580.577800,0.000000,0.018624,9.925574
4,19960705,000010,37151,38025,37151,38025,15830,595899300,1.75,37728.0,...,0.000000,92.826559,48.706725,77.772126,-22.227874,0.000000,37767.295870,0.000000,0.105182,8.153143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6854873,20220325,950210,19400,21050,17250,17750,2884592,55832885600,-3.01,15730.0,...,0.886111,2.571420,54.711042,59.756098,-40.243902,659.264706,15704.276412,31.481481,0.730444,66.393691
6854874,20220328,950210,17650,18150,17450,18050,432272,7718272800,1.69,16510.0,...,0.918642,8.403671,55.985908,63.414634,-36.585366,1297.205882,16198.537285,33.210332,2.130543,56.425429
6854875,20220329,950210,17900,21400,17500,19800,5156123,103299163150,9.70,17600.0,...,1.000000,15.800461,55.988631,81.286550,-18.713450,2238.676471,17076.125215,40.425532,4.034409,75.501358
6854876,20220330,950210,20250,22500,19450,19800,2072532,43571439650,0.00,18740.0,...,1.000000,21.143478,50.227010,72.020725,-27.979275,3473.676471,17737.179572,48.872180,5.409680,68.857624
6854877,20220331,950210,19500,20500,19150,20300,511003,10140785700,2.53,19140.0,...,1.000000,25.885194,52.108588,77.202073,-22.797927,4133.382353,18361.675910,49.264706,6.603329,56.740704

In [4]:
보조지표df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6854878 entries, 0 to 6854877
Data columns (total 58 columns):
 #   Column         Dtype
---  ------         -----
 0   date           int64
 1   code           category
 2   open           int64
 3   high           int64
 4   low            int64
 5   close          int64
 6   volume         int64
 7   tradingvalue   int64
 8   change         float64
 9   ma_5           float64
 10  ma_20          float64
 11  ma_60          float64
 12  ma_120         float64
 13  MFI            float64
 14  ADI            float64
 15  OBV            int64
 16  CMF            float64
 17  FI             float64
 18  EOM, EMV       float64
 19  VPT            float64
 20  NVI            float64
 21  VMAP           float64
 22  ATR            float64
 23  BHB            float64
 24  BLB            float64
 25  KCH            float64
 26  KCL            float64
 27  KCM            float64
 28  DCH            float64
 29  DCL            float64
 30  DCM            float64
 31  UI             float64
 32  SMA            float64
 33  EMA            float64
 34  WMA            float64
 35  MACD           float64
 36  ADX            float64
 37  -VI            float64
 38  +VI            float64
 39  TRIX           float64
 40  MI             float64
 41  CCI            float64
 42  DPO            float64
 43  KST            float64
 44  Ichimoku       float64
 45  Parabolic SAR  float64
 46  STC            float64
 47  RSI            float64
 48  SRSI           float64
 49  TSI            float64
 50  UO             float64
 51  SR             float64
 52  WR             float64
 53  AO             float64
 54  KAMA           float64
 55  ROC            float64
 56  PPO            float64
 57  PVO            float64
dtypes: category(1), float64(49), int64(8)
memory usage: 2.9 GB

In [82]:
보조지표df.columns.values
['date', 'code',
 'open', 'high', 'low', 'close',
 'volume', 'tradingvalue', 'change',
 'ma_5', 'ma_20', 'ma_60', 'ma_120',
 'MFI', 'ADI', 'OBV', 'CMF', 'FI', 'EOM, EMV', 'VPT', 'NVI',
 'VMAP',
 'ATR',
 'BHB', 'BLB', 'KCH', 'KCL', 'KCM', 'DCH', 'DCL', 'DCM',
 'UI',
 'SMA', 'EMA', 'WMA',
 'MACD',
 'ADX', '-VI', '+VI', 'TRIX', 'MI', 'CCI', 'DPO', 'KST',
 'Ichimoku', 'Parabolic SAR',
 'STC', 'RSI', 'SRSI', 'TSI', 'UO', 'SR', 'WR', 'AO',
 'KAMA',
 'ROC', 'PPO', 'PVO']

array(['date', 'code', 'open', 'high', 'low', 'close', 'volume',
       'tradingvalue', 'change', 'ma_5', 'ma_20', 'ma_60', 'ma_120',
       'MFI', 'ADI', 'OBV', 'CMF', 'FI', 'EOM, EMV', 'VPT', 'NVI', 'VMAP',
       'ATR', 'BHB', 'BLB', 'KCH', 'KCL', 'KCM', 'DCH', 'DCL', 'DCM',
       'UI', 'SMA', 'EMA', 'WMA', 'MACD', 'ADX', '-VI', '+VI', 'TRIX',
       'MI', 'CCI', 'DPO', 'KST', 'Ichimoku', 'Parabolic SAR', 'STC',
       'RSI', 'SRSI', 'TSI', 'UO', 'SR', 'WR', 'AO', 'KAMA', 'ROC', 'PPO',
       'PVO'], dtype=object)

# 가격관련지표

In [5]:
가격관련지표 = ['open', 'high', 'low', 'close',
                'ma_5', 'ma_20', 'ma_60', 'ma_120',
                'VMAP', 'BHB', 'BLB', 'KCH',
                'KCL', 'KCM', 'DCH', 'DCL',
                'DCM','SMA', 'EMA', 'WMA',
                'Ichimoku', 'Parabolic SAR', 'KAMA','MACD']

# 보조지표df의 cols 에서 가격관련지표를 뺀 것 <br>
(처음순서대로)

In [21]:
cols = list(보조지표df.columns.values)

# list(set(list(보조지표df.columns.values)) - set(가격관련지표)) # 순서가 유지되면 좋겠으니까 for loop쓰는게 나을듯
for i in 가격관련지표:
    if i in cols:
        del cols[cols.index(i)]
cols

# scaling by 전 날 종가

In [54]:
df_all = pd.DataFrame()
for i in tqdm(보조지표df['code'].unique()):
    ## 종목코드 별 df
    tmp_df = 보조지표df.iloc[np.where(보조지표df['code'] == i)]
    
    # 각 종목코드의 맨 첫 날 tmp_df[0]은 기준일이므로 제외하고 생각
    # 각 종목코드의 맨 첫 날
    tmp0_가격관련지표 = tmp_df.iloc[[0]][가격관련지표]
    # tmp0_가격관련지표
    
    
    # tmp_df[1:][가격관련지표].reset_index().drop('index', axis = 1)/tmp_df['close'][:-1].reset_index().drop('index', axis = 1).values
    
    ## original df 바꿔보려고 했는데 안바뀜
    # tmp_df[1:][가격관련지표] = tmp_df[1:][가격관련지표].reset_index().drop('index', axis = 1)/tmp_df['close'][:-1].reset_index().drop('index', axis = 1).values # 24개 열
    # tmp_df[1:]
    ## 변수에 저장 (덮어쓰기)이 안되는 문제.... reset_index해서 그런 것 같음.
    # pd.concat([tmp0,tmp_df[1:]], ignore_index = True)
    
    tmp1_가격관련지표 = tmp_df[1:][가격관련지표].reset_index().drop('index', axis = 1)/tmp_df['close'][:-1].reset_index().drop('index', axis = 1).values
    tmp_가격only = pd.concat([tmp0_가격관련지표,tmp1_가격관련지표], ignore_index = True)
    
    ## 나머지 cols df, reset_index해서 쓰기
    tmp_else = tmp_df[cols].reset_index().drop('index', axis = 1)
    
    tmp_all = pd.concat([tmp_가격only, tmp_else], axis = 1)
    
    ## 아래로 이어붙이기, ignore_index하기
    df_all = pd.concat([df_all, tmp_all], ignore_index = True)

    ## 모든 열에 대해 나눠지는지 test
    # tmp_df[1:][['open']].reset_index().drop('index', axis = 1)/tmp_df['close'][:-1].reset_index().drop('index', axis = 1).values
    
    # reset_index하고 ignore_index옵션 켜주기
    # values을 붙여서 열 이름에 상관없게 해야 모든 열에 대해 나눠짐.
    # tmp_df[1:]['close'].reset_index().drop('index', axis = 1) / tmp_df['close'][:-1].reset_index().drop('index', axis = 1)
    
    
    ## 앞의 값과 NaN값 없이 1개 열로 잘 합쳐지는지 test
    # tmp = pd.DataFrame([1], columns = ['close']) # 'close'열의 맨 첫 줄은 기준이므로 1 혹은 그냥 값으로...
    # pd.concat([tmp, tmp_df[1:]['close'].reset_index().drop('index', axis = 1) / tmp_df['close'][:-1].reset_index().drop('index', axis = 1)], ignore_index = True)
    
    ## 값 잘나오는지 test
    # tmp_df[0:2]['close']
    # tmp_df[-2:]['close']
    # 37938 / 37588
#     tmp_df['close'][:-1]
#     break
df_all

100%|██████████| 2348/2348 [37:31<00:00,  1.04it/s]

,open,high,low,close,ma_5,ma_20,ma_60,ma_120,VMAP,BHB,...,RSI,SRSI,TSI,UO,SR,WR,AO,ROC,PPO,PVO
0,36496.000000,37676.000000,36496.000000,37588.000000,NaN,NaN,NaN,NaN,37253.333333,37588.000000,...,100.000000,0.000000,0.000000,0.000000,92.542373,-7.457627,0.000000,0.000000,0.000000,0.000000
1,1.000000,1.023252,0.988374,1.009311,NaN,NaN,NaN,NaN,1.001859,1.013967,...,100.000000,0.000000,100.000000,31.593737,73.346897,-26.653103,0.000000,0.000000,0.074228,8.127021
2,1.002293,1.002293,0.979256,0.994227,NaN,NaN,NaN,NaN,0.992416,1.002612,...,59.742647,0.000000,98.619124,40.267459,62.207528,-37.792472,0.000000,0.000000,0.085075,8.142756
3,1.000000,1.005806,0.984941,0.990747,NaN,NaN,NaN,NaN,0.997037,1.009198,...,35.331995,0.000000,95.325955,37.909441,44.455748,-55.544252,0.000000,0.000000,0.018624,9.925574
4,0.994140,1.017527,0.994140,1.017527,1.009580,NaN,NaN,NaN,1.006875,1.022248,...,64.581763,0.000000,92.826559,48.706725,77.772126,-22.227874,0.000000,0.000000,0.105182,8.153143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6854873,1.060109,1.150273,0.942623,0.969945,0.859563,0.788525,0.903233,1.113661,0.929320,0.925425,...,65.141317,0.886111,2.571420,54.711042,59.756098,-40.243902,659.264706,31.481481,0.730444,66.393691
6854874,0.994366,1.022535,0.983099,1.016901,0.930141,0.824507,0.928920,1.143028,0.964747,0.990519,...,66.319220,0.918642,8.403671,55.985908,63.414634,-36.585366,1297.205882,33.210332,2.130543,56.425429
6854875,0.991690,1.185596,0.969529,1.096953,0.975069,0.826593,0.912696,1.119875,1.014885,1.031177,...,72.216896,1.000000,15.800461,55.988631,81.286550,-18.713450,2238.676471,40.425532,4.034409,75.501358
6854876,1.022727,1.136364,0.982323,1.000000,0.946465,0.767803,0.831103,1.016877,0.945687,0.981848,...,72.216896,1.000000,21.143478,50.227010,72.020725,-27.979275,3473.676471,48.872180,5.409680,68.857624
6854877,0.984848,1.035354,0.967172,1.025253,0.966667,0.783207,0.830766,1.014057,0.952856,1.023227,...,73.740547,1.000000,25.885194,52.108588,77.202073,-22.797927,4133.382353,49.264706,6.603329,56.740704

In [53]:
# 보조지표df['code'].unique()[-1]
tt = 보조지표df.iloc[np.where(보조지표df['code'] == 보조지표df['code'].unique()[-1])]
t0 = tt.iloc[[0]][가격관련지표]
t1 = tt[1:][가격관련지표].reset_index().drop('index', axis = 1)/tt['close'][:-1].reset_index().drop('index', axis = 1).values
t_가격only = pd.concat([t0,t1], ignore_index = True)
# t_가격only
t_else = tmp_df[cols].reset_index().drop('index', axis = 1) # 위에서 reset_index()도 하고 ignore_index도 켰기 때문에
                                                            # reset_index()해야함.
# t_else
t_all = pd.concat([t_가격only, t_else], axis = 1)
t_all
# d_all = pd.concat([df_all, tmp_all])

,open,high,low,close,ma_5,ma_20,ma_60,ma_120,VMAP,BHB,...,RSI,SRSI,TSI,UO,SR,WR,AO,ROC,PPO,PVO
0,28800.000000,36800.000000,24200.000000,32800.000000,NaN,NaN,NaN,NaN,31266.666667,32800.000000,...,100.000000,0.000000,0.000000,0.000000,68.253968,-31.746032,0.000000,0.000000,0.000000,0.000000
1,1.080793,1.298780,1.041159,1.298780,NaN,NaN,NaN,NaN,1.045345,1.448171,...,100.000000,0.000000,100.000000,43.750000,100.000000,-0.000000,0.000000,0.000000,2.331826,-3.716869
2,1.070423,1.260563,1.057512,1.173709,NaN,NaN,NaN,NaN,0.911185,1.311954,...,100.000000,0.000000,100.000000,51.343284,87.457627,-12.542373,0.000000,0.000000,5.685986,-5.884766
3,0.976000,1.016000,0.882000,0.972000,NaN,NaN,NaN,NaN,0.798870,1.140969,...,91.627510,0.000000,99.681502,53.980100,82.711864,-17.288136,0.000000,0.000000,7.762574,-10.832238
4,1.020576,1.111111,0.992798,1.002058,0.916461,NaN,NaN,NaN,0.836346,1.180087,...,91.681087,0.000000,99.421362,48.204570,82.214765,-17.785235,0.000000,0.000000,9.204759,-16.488369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,1.060109,1.150273,0.942623,0.969945,0.859563,0.788525,0.903233,1.113661,0.929320,0.925425,...,65.141317,0.886111,2.571420,54.711042,59.756098,-40.243902,659.264706,31.481481,0.730444,66.393691
279,0.994366,1.022535,0.983099,1.016901,0.930141,0.824507,0.928920,1.143028,0.964747,0.990519,...,66.319220,0.918642,8.403671,55.985908,63.414634,-36.585366,1297.205882,33.210332,2.130543,56.425429
280,0.991690,1.185596,0.969529,1.096953,0.975069,0.826593,0.912696,1.119875,1.014885,1.031177,...,72.216896,1.000000,15.800461,55.988631,81.286550,-18.713450,2238.676471,40.425532,4.034409,75.501358
281,1.022727,1.136364,0.982323,1.000000,0.946465,0.767803,0.831103,1.016877,0.945687,0.981848,...,72.216896,1.000000,21.143478,50.227010,72.020725,-27.979275,3473.676471,48.872180,5.409680,68.857624
282,0.984848,1.035354,0.967172,1.025253,0.966667,0.783207,0.830766,1.014057,0.952856,1.023227,...,73.740547,1.000000,25.885194,52.108588,77.202073,-22.797927,4133.382353,49.264706,6.603329,56.740704

In [33]:
보조지표df['code'].nunique()

2348

In [56]:
df_all

,open,high,low,close,ma_5,ma_20,ma_60,ma_120,VMAP,BHB,...,RSI,SRSI,TSI,UO,SR,WR,AO,ROC,PPO,PVO
0,36496.000000,37676.000000,36496.000000,37588.000000,NaN,NaN,NaN,NaN,37253.333333,37588.000000,...,100.000000,0.000000,0.000000,0.000000,92.542373,-7.457627,0.000000,0.000000,0.000000,0.000000
1,1.000000,1.023252,0.988374,1.009311,NaN,NaN,NaN,NaN,1.001859,1.013967,...,100.000000,0.000000,100.000000,31.593737,73.346897,-26.653103,0.000000,0.000000,0.074228,8.127021
2,1.002293,1.002293,0.979256,0.994227,NaN,NaN,NaN,NaN,0.992416,1.002612,...,59.742647,0.000000,98.619124,40.267459,62.207528,-37.792472,0.000000,0.000000,0.085075,8.142756
3,1.000000,1.005806,0.984941,0.990747,NaN,NaN,NaN,NaN,0.997037,1.009198,...,35.331995,0.000000,95.325955,37.909441,44.455748,-55.544252,0.000000,0.000000,0.018624,9.925574
4,0.994140,1.017527,0.994140,1.017527,1.009580,NaN,NaN,NaN,1.006875,1.022248,...,64.581763,0.000000,92.826559,48.706725,77.772126,-22.227874,0.000000,0.000000,0.105182,8.153143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6854873,1.060109,1.150273,0.942623,0.969945,0.859563,0.788525,0.903233,1.113661,0.929320,0.925425,...,65.141317,0.886111,2.571420,54.711042,59.756098,-40.243902,659.264706,31.481481,0.730444,66.393691
6854874,0.994366,1.022535,0.983099,1.016901,0.930141,0.824507,0.928920,1.143028,0.964747,0.990519,...,66.319220,0.918642,8.403671,55.985908,63.414634,-36.585366,1297.205882,33.210332,2.130543,56.425429
6854875,0.991690,1.185596,0.969529,1.096953,0.975069,0.826593,0.912696,1.119875,1.014885,1.031177,...,72.216896,1.000000,15.800461,55.988631,81.286550,-18.713450,2238.676471,40.425532,4.034409,75.501358
6854876,1.022727,1.136364,0.982323,1.000000,0.946465,0.767803,0.831103,1.016877,0.945687,0.981848,...,72.216896,1.000000,21.143478,50.227010,72.020725,-27.979275,3473.676471,48.872180,5.409680,68.857624
6854877,0.984848,1.035354,0.967172,1.025253,0.966667,0.783207,0.830766,1.014057,0.952856,1.023227,...,73.740547,1.000000,25.885194,52.108588,77.202073,-22.797927,4133.382353,49.264706,6.603329,56.740704

In [57]:
df_all.to_feather('scaled.ftr') # pd.read_feather("scaled.ftr", columns = None, use_threads = True)

In [58]:
df_all.to_pickle('scaled.pkl')

In [59]:
df_all.to_csv('scaled.csv', index = False)