<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#library" data-toc-modified-id="library-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>library</a></span></li><li><span><a href="#data" data-toc-modified-id="data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>data</a></span></li><li><span><a href="#with-open" data-toc-modified-id="with-open-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>with open</a></span><ul class="toc-item"><li><span><a href="#lines의-총-길이-(file의-총-길이)" data-toc-modified-id="lines의-총-길이-(file의-총-길이)-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>lines의 총 길이 (file의 총 길이)</a></span></li><li><span><a href="#데이터-구성" data-toc-modified-id="데이터-구성-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>데이터 구성</a></span></li></ul></li><li><span><a href="#조건cd-:-uniq-cd-list" data-toc-modified-id="조건cd-:-uniq-cd-list-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>조건cd : uniq cd list</a></span></li><li><span><a href="#조건cd_dt:-key:-cd;-value:-dt-list" data-toc-modified-id="조건cd_dt:-key:-cd;-value:-dt-list-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>조건cd_dt: key: cd; value: dt list</a></span></li><li><span><a href="#df로-만들기" data-toc-modified-id="df로-만들기-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>df로 만들기</a></span><ul class="toc-item"><li><span><a href="#저장" data-toc-modified-id="저장-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>저장</a></span></li></ul></li></ul></div>

# library

In [2]:
from tqdm import tqdm
import pandas as pd
import numpy as np
# 경고메세지 끄기
import warnings
warnings.filterwarnings(action='ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# data

In [3]:
df = pd.read_csv('/project/stock_data/stock.KOSPI.KOSDAQ.19960701to20220331.adjusted.datefilled.csv')
df['code'].nunique()
code = df['code'].unique()
code

4551

array([10, 20, 30, ..., 950190, 950200, 950210], dtype=object)

In [4]:
df[:5]

       date code   open   high    low  close  volume  tradingvalue  change
0  19960701   10  36496  37676  36496  37588   14499     542221500    1.18
1  19960702   10  37588  38462  37151  37938   30476    1153293600    0.93
2  19960703   10  38025  38025  37151  37719   18375     694638000   -0.58
3  19960704   10  37719  37938  37151  37370   22539     849041000   -0.93
4  19960705   10  37151  38025  37151  38025   15830     595899300    1.75

# with open

In [5]:
c1=open('/project/stock_data/stock.KOSPI.KOSDAQ.19960701to20220331.adjusted.datefilled.csv',"r")
lines=c1.readlines()

## lines의 총 길이 (file의 총 길이)

In [6]:
len(lines) # 11979747 (잘 세어짐....)

11979747

## 데이터 구성

In [7]:
for line in lines[:4]:
    lst = line.split(',')
    print(lst)

['date', 'code', 'open', 'high', 'low', 'close', 'volume', 'tradingvalue', 'change\n']
['19960701', '000010', '36496', '37676', '36496', '37588', '14499', '542221500', '1.18\n']
['19960702', '000010', '37588', '38462', '37151', '37938', '30476', '1153293600', '0.93\n']
['19960703', '000010', '38025', '38025', '37151', '37719', '18375', '694638000', '-0.58\n']

* 줄 수 구하기 포기 <br>
* 출처: https://dororongju.tistory.com/44 [웹 개발 메모장]

# 조건cd : uniq cd list

In [8]:
f = open('조건만족cd_dt (by ffin).txt', 'r', encoding = 'utf-8')
ll = f.readlines()

In [13]:
cnt = 0
조건cd = []
for iter, i in tqdm(enumerate(ll)):
    i = i.strip()
    i = i.split('\t')
    cd = i[0]
#     dt = i[1]
    if cd not in 조건cd:
        조건cd.append(cd)
    cnt+=1
f.close()

1151801it [00:09, 124020.20it/s]

In [14]:
cnt # 1151801 줄 수 ('code' 포함)
len(조건cd)

1151801

2372

# 조건cd_dt: key: cd; value: dt list

In [18]:
조건cd_dt = {i:[] for i in 조건cd}
for iter, i in tqdm(enumerate(ll)):
    i = i.strip()
    i = i.split('\t')
    cd = i[0]
    dt = i[1]
    조건cd_dt[cd].append(dt)

f.close()

1151801it [00:00, 1463907.64it/s]

In [23]:
# test
조건cd_dt['083370'] # 잘나옴.

['20160531', '20170316', '20170317']

In [29]:
# lst[0] : 'date'
# lst[1] : 'code'
# lst[-1] : 'change'
cnt = 0
for line in tqdm(lines):
    line = line.strip()
    lst = line.split(',')
    if lst[1] in 조건cd and lst[0] in 조건cd_dt[lst[1]]:
        cnt+=1

100%|██████████| 11979747/11979747 [03:00<00:00, 66232.32it/s]

In [30]:
cnt # 1151801 잘 나옴 확인.

1151801

# df로 만들기
* 검색어: 파이썬 list to df header는 list의 0번째
* [[python] 헤더를 맨 위 행으로 대체하는 Python Pandas](http://daplus.net/python-%ED%97%A4%EB%8D%94%EB%A5%BC-%EB%A7%A8-%EC%9C%84-%ED%96%89%EC%9C%BC%EB%A1%9C-%EB%8C%80%EC%B2%B4%ED%95%98%EB%8A%94-python-pandas/)
``` python
# 한 줄 짜리 코드
df.rename(columns=df.iloc[0]).drop(df.index[0])
```

In [31]:
조건data = []
for line in tqdm(lines):
    line = line.strip()
    lst = line.split(',')
    if lst[1] in 조건cd and lst[0] in 조건cd_dt[lst[1]]:
        조건data.append(lst)

100%|██████████| 11979747/11979747 [03:05<00:00, 64576.26it/s]

In [32]:
len(조건data)

1151801

In [40]:
조건df = pd.DataFrame(조건data)

In [41]:
new_header = 조건df.iloc[0] #grab the first row for the header
조건df = 조건df[1:] #take the data less the header row
조건df.columns = new_header #set the header row as the df header
조건df

,date,code,open,high,low,close,volume,tradingvalue,change
1,19960920,000010,37151,37370,35403,36277,42732,1548596200,-2.70
2,19961001,000010,40211,40211,37195,37501,835032,33396100000,-4.67
3,19961007,000010,36496,38375,36496,37588,31889,1187210600,3.61
4,19961129,000010,29546,29546,26880,28497,81158,2340157900,-2.10
5,19961203,000010,28147,28147,26661,26880,45098,1223676500,-4.65
...,...,...,...,...,...,...,...,...,...
1151796,20220324,950210,14000,18300,13900,18300,1158787,20226315150,29.79
1151797,20220325,950210,19400,21050,17250,17750,2884592,55832885600,-3.01
1151798,20220329,950210,17900,21400,17500,19800,5156123,103299163150,9.70
1151799,20220330,950210,20250,22500,19450,19800,2072532,43571439650,0.00
1151800,20220331,950210,19500,20500,19150,20300,511003,10140785700,2.53

## 저장

In [42]:
# 조건df.to_csv('조건df.csv', index = False)

In [43]:
pd.read_csv('조건df.csv')

,date,code,open,high,low,close,volume,tradingvalue,change
0,19960920,000010,37151,37370,35403,36277,42732,1548596200,-2.70
1,19961001,000010,40211,40211,37195,37501,835032,33396100000,-4.67
2,19961007,000010,36496,38375,36496,37588,31889,1187210600,3.61
3,19961129,000010,29546,29546,26880,28497,81158,2340157900,-2.10
4,19961203,000010,28147,28147,26661,26880,45098,1223676500,-4.65
...,...,...,...,...,...,...,...,...,...
1151795,20220324,950210,14000,18300,13900,18300,1158787,20226315150,29.79
1151796,20220325,950210,19400,21050,17250,17750,2884592,55832885600,-3.01
1151797,20220329,950210,17900,21400,17500,19800,5156123,103299163150,9.70
1151798,20220330,950210,20250,22500,19450,19800,2072532,43571439650,0.00
1151799,20220331,950210,19500,20500,19150,20300,511003,10140785700,2.53