In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import numpy as np
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')
import tensorflow as tf

2022-06-04 18:11:01.359641: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

In [2]:
ddir = '/data/stock/'
d2012 = pd.read_csv(ddir + 'stock.KOSPI.KOSDAQ.2012.csv')
d2013 = pd.read_csv(ddir + 'stock.KOSPI.KOSDAQ.2013.csv')
d2014 = pd.read_csv(ddir + 'stock.KOSPI.KOSDAQ.2014.csv')
d2015 = pd.read_csv(ddir + 'stock.KOSPI.KOSDAQ.2015.csv')
d2016 = pd.read_csv(ddir + 'stock.KOSPI.KOSDAQ.2016.csv')
d2017 = pd.read_csv(ddir + 'stock.KOSPI.KOSDAQ.2017.csv')
d2018 = pd.read_csv(ddir + 'stock.KOSPI.KOSDAQ.2018.csv')
d2019 = pd.read_csv(ddir + 'stock.KOSPI.KOSDAQ.2019.csv')
d2020 = pd.read_csv(ddir + 'stock.KOSPI.KOSDAQ.2020.csv')
d2021 = pd.read_csv(ddir + 'stock.KOSPI.KOSDAQ.2021.csv')

# mk_cd

In [3]:
## 함수
def mk_cd(x):
    if type(x) == str:
        if x.isalpha():
            return x
        else:
            if len(x) == 6:
                return x
            else:
                return "0"*(6-len(x))+x
    elif type(x) == int:
        x = str(x)
        return "0"*(6-len(x))+x

In [4]:
## 적용
d2012['code'] = list(map(mk_cd, d2012['code']))
d2013['code'] = list(map(mk_cd, d2013['code']))
d2014['code'] = list(map(mk_cd, d2014['code']))
d2015['code'] = list(map(mk_cd, d2015['code']))
d2016['code'] = list(map(mk_cd, d2016['code']))
d2017['code'] = list(map(mk_cd, d2017['code']))
d2018['code'] = list(map(mk_cd, d2018['code']))
d2019['code'] = list(map(mk_cd, d2019['code']))
d2020['code'] = list(map(mk_cd, d2020['code']))
d2021['code'] = list(map(mk_cd, d2021['code']))

# fillna (각 열의 평균으로)

## fillna 해야할 data 찾기

In [5]:
d2012.iloc[:,2:].isnull().sum().sum()
d2013.iloc[:,2:].isnull().sum().sum()
d2014.iloc[:,2:].isnull().sum().sum()
d2015.iloc[:,2:].isnull().sum().sum() #
d2016.iloc[:,2:].isnull().sum().sum() #
d2017.iloc[:,2:].isnull().sum().sum()
d2018.iloc[:,2:].isnull().sum().sum() #
d2019.iloc[:,2:].isnull().sum().sum()
d2020.iloc[:,2:].isnull().sum().sum() #
d2021.iloc[:,2:].isnull().sum().sum()

0

0

0

820

1640

0

820

0

820

0

## fillna

In [6]:
# fillna 잘 먹히는지 확인
# d2015.fillna(d2015.iloc[:,2:].mean()).isnull().sum().sum()
# d2016.fillna(d2015.iloc[:,2:].mean()).isnull().sum().sum()
# d2018.fillna(d2015.iloc[:,2:].mean()).isnull().sum().sum()
# d2020.fillna(d2015.iloc[:,2:].mean()).isnull().sum().sum()

d2015 = d2015.fillna(d2015.iloc[:,2:].mean())
d2016 = d2016.fillna(d2015.iloc[:,2:].mean())
d2018 = d2018.fillna(d2015.iloc[:,2:].mean())
d2020 = d2020.fillna(d2015.iloc[:,2:].mean())

## fillna test

In [155]:
d2015.iloc[:,2:].info()

# d2015.columns[-100:]
# d2015.iloc[:,2:].isnull().sum() # open 제외 모든 열에 nan값이 있음.

# 이 코드는 str이라고 에러남 # sum(d2015.iloc[:,2:].isnull())

# np.where(d2015.iloc[:,2:].isnull()) # null값인 곳 위치
d2015.iloc[162003,:]

d2015.iloc[:,2:].mean()
d2015.fillna(d2015.iloc[:,2:].mean()).isnull().sum().sum()
d2015.fillna(d2015.iloc[:,2:].mean()).iloc[162003,:] # 그냥 알아서 깥은 열의 빈 칸(null인 칸)에 넣어줌. 확인!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314361 entries, 0 to 314360
Columns: 821 entries, D-10_open to NextChange
dtypes: float64(821)
memory usage: 1.9 GB

date           20150206
code              28300
D-10_open          0.74
D-10_high           NaN
D-10_low            NaN
                 ...
D-1_KST             NaN
D-1_DCW             NaN
D-1_SRSID           NaN
D-1_PPOhist         NaN
NextChange          NaN
Name: 162003, Length: 823, dtype: object

D-10_open       0.002667
D-10_high       0.031839
D-10_low       -0.025061
D-10_close      0.002356
D-10_MA5       -0.000125
                 ...
D-1_KST        54.597840
D-1_DCW        20.674738
D-1_SRSID       0.485744
D-1_PPOhist     0.015459
NextChange      0.176403
Length: 821, dtype: float64

0

date            20150206
code               28300
D-10_open           0.74
D-10_high       0.031839
D-10_low       -0.025061
                 ...
D-1_KST         54.59784
D-1_DCW        20.674738
D-1_SRSID       0.485744
D-1_PPOhist     0.015459
NextChange      0.176403
Name: 162003, Length: 823, dtype: object

# data 살펴보기

In [60]:
d2021['NextChange']

0        -2.38
1        -2.03
2        -0.83
3        -2.93
4        -0.43
          ...
321803    0.47
321804    1.39
321805    1.37
321806    0.00
321807    0.00
Name: NextChange, Length: 321808, dtype: float64

In [17]:
d2021['code'].dtype # 이게 'Object'

dtype('O')

In [4]:
d2021.shape # (321808, 823)
d2021.info() # float64(821), int64(1), object(1)
# d2021.describe()
d2021.head() # 20210105
d2021.tail() # 20211209
d2021.columns.values # 식별변수: date, code, 설명변수(feature): D-10 ~ D-1, 목적변수: 'NextChange'

(321808, 823)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321808 entries, 0 to 321807
Columns: 823 entries, date to NextChange
dtypes: float64(821), int64(1), object(1)
memory usage: 2.0+ GB

,date,code,D-10_open,D-10_high,D-10_low,D-10_close,D-10_MA5,D-10_MA20,D-10_MA60,D-10_MA120,...,D-1_VIpos,D-1_ROC,D-1_MFI,D-1_KCW,D-1_BBP,D-1_KST,D-1_DCW,D-1_SRSID,D-1_PPOhist,NextChange
0,20210105,16385,0.011905,0.019841,-0.011905,-0.007937,0.007143,0.032540,0.032206,0.006611,...,0.90698,-0.7874,46.303,6.7578,0.57316,-75.576,15.120,0.61641,0.059806,-2.38
1,20210106,16385,0.000000,0.000000,-0.032000,-0.032000,0.004800,0.038600,0.038600,0.014400,...,0.91667,-4.6512,47.839,6.6263,0.47336,-79.124,15.145,0.74380,0.259040,-2.03
2,20210107,16385,-0.008264,-0.008264,-0.028926,-0.028926,0.022314,0.066736,0.070455,0.047826,...,0.91608,-4.3651,45.077,6.9338,0.38046,-80.691,15.152,0.81864,0.259390,-0.83
3,20210108,16385,-0.008511,-0.008511,-0.038298,-0.038298,0.025532,0.091277,0.100494,0.079251,...,0.90780,-4.4000,39.347,6.9195,0.35218,-77.558,15.126,0.78711,0.212530,-2.93
4,20210111,16385,0.000000,0.044248,0.000000,0.030973,0.049558,0.130088,0.143062,0.120274,...,0.89051,-4.1322,39.125,7.0372,0.21853,-76.491,15.088,0.70221,0.005548,-0.43

,date,code,D-10_open,D-10_high,D-10_low,D-10_close,D-10_MA5,D-10_MA20,D-10_MA60,D-10_MA120,...,D-1_VIpos,D-1_ROC,D-1_MFI,D-1_KCW,D-1_BBP,D-1_KST,D-1_DCW,D-1_SRSID,D-1_PPOhist,NextChange
321803,20211203,16380,0.000000,0.013699,-0.018265,0.009132,0.000000,0.024201,0.188402,0.399817,...,0.84663,-0.92166,54.026,8.8876,0.49365,-106.380,20.566,0.46852,0.18908,0.47
321804,20211206,16380,0.009050,0.054299,-0.004525,-0.004525,-0.010860,0.011765,0.171584,0.380362,...,0.92447,0.00000,59.601,8.5227,0.53138,-103.540,20.616,0.70950,0.56929,1.39
321805,20211207,16380,0.004545,0.004545,-0.013636,-0.013636,-0.006364,0.012545,0.170545,0.379636,...,1.00000,0.00000,64.319,8.4022,0.63366,-100.020,14.870,0.89611,0.90618,1.37
321806,20211208,16380,0.004608,0.004608,-0.013825,-0.013825,0.005530,0.023041,0.180461,0.391521,...,1.04640,0.45249,68.930,8.1687,0.71497,-93.167,16.748,0.97162,1.19530,0.00
321807,20211209,16380,0.004673,0.009346,-0.037383,-0.032710,0.008411,0.032991,0.189720,0.404019,...,1.02320,0.90909,67.728,8.1120,0.70462,-85.850,16.684,1.00000,1.34680,0.00

array(['date', 'code', 'D-10_open', 'D-10_high', 'D-10_low', 'D-10_close',
       'D-10_MA5', 'D-10_MA20', 'D-10_MA60', 'D-10_MA120', 'D-10_MA240',
       'D-10_AO', 'D-10_KAMA', 'D-10_ADI', 'D-10_FI', 'D-10_VMAP',
       'D-10_BBH', 'D-10_BBL', 'D-10_BBM', 'D-10_DCH', 'D-10_DCL',
       'D-10_DCM', 'D-10_KCH', 'D-10_KCL', 'D-10_KCM', 'D-10_DPO',
       'D-10_Ichimoku_a', 'D-10_Ichimoku_b', 'D-10_ichimoku_base_line',
       'D-10_ichimoku_conversion_line', 'D-10_MACD', 'D-10_MACDdiff',
       'D-10_MACDsig', 'D-10_PSARdown', 'D-10_PSARup', 'D-10_CR',
       'D-10_DLR', 'D-10_PVO', 'D-10_SRSI', 'D-10_AIdown', 'D-10_STC',
       'D-10_RSI', 'D-10_EOMsig', 'D-10_NVI', 'D-10_ADXneg', 'D-10_WR',
       'D-10_AIup', 'D-10_rTR', 'D-10_VIneg', 'D-10_PVOsig', 'D-10_SO',
       'D-10_ATR', 'D-10_CMF', 'D-10_TSI', 'D-10_ADX', 'D-10_MI',
       'D-10_SRSIK', 'D-10_EOM', 'D-10_BBW', 'D-10_UI', 'D-10_ADXpos',
       'D-10_PPOsig', 'D-10_TRIX', 'D-10_volume', 'D-10_KSTsig',
       'D-10_CCI', 'D-10_tradingvalue', 'D-10_OBV', 'D-10_VPT', 'D-10_UO',
       'D-10_SOsig', 'D-10_KCP', 'D-10_DCP', 'D-10_PVOhist', 'D-10_PPO',
       'D-10_VIpos', 'D-10_ROC', 'D-10_MFI', 'D-10_KCW', 'D-10_BBP',
       'D-10_KST', 'D-10_DCW', 'D-10_SRSID', 'D-10_PPOhist', 'D-9_open',
       'D-9_high', 'D-9_low', 'D-9_close', 'D-9_MA5', 'D-9_MA20',
       'D-9_MA60', 'D-9_MA120', 'D-9_MA240', 'D-9_AO', 'D-9_KAMA',
       'D-9_ADI', 'D-9_FI', 'D-9_VMAP', 'D-9_BBH', 'D-9_BBL', 'D-9_BBM',
       'D-9_DCH', 'D-9_DCL', 'D-9_DCM', 'D-9_KCH', 'D-9_KCL', 'D-9_KCM',
       'D-9_DPO', 'D-9_Ichimoku_a', 'D-9_Ichimoku_b',
       'D-9_ichimoku_base_line', 'D-9_ichimoku_conversion_line',
       'D-9_MACD', 'D-9_MACDdiff', 'D-9_MACDsig', 'D-9_PSARdown',
       'D-9_PSARup', 'D-9_CR', 'D-9_DLR', 'D-9_PVO', 'D-9_SRSI',
       'D-9_AIdown', 'D-9_STC', 'D-9_RSI', 'D-9_EOMsig', 'D-9_NVI',
       'D-9_ADXneg', 'D-9_WR', 'D-9_AIup', 'D-9_rTR', 'D-9_VIneg',
       'D-9_PVOsig', 'D-9_SO', 'D-9_ATR', 'D-9_CMF', 'D-9_TSI', 'D-9_ADX',
       'D-9_MI', 'D-9_SRSIK', 'D-9_EOM', 'D-9_BBW', 'D-9_UI',
       'D-9_ADXpos', 'D-9_PPOsig', 'D-9_TRIX', 'D-9_volume', 'D-9_KSTsig',
       'D-9_CCI', 'D-9_tradingvalue', 'D-9_OBV', 'D-9_VPT', 'D-9_UO',
       'D-9_SOsig', 'D-9_KCP', 'D-9_DCP', 'D-9_PVOhist', 'D-9_PPO',
       'D-9_VIpos', 'D-9_ROC', 'D-9_MFI', 'D-9_KCW', 'D-9_BBP', 'D-9_KST',
       'D-9_DCW', 'D-9_SRSID', 'D-9_PPOhist', 'D-8_open', 'D-8_high',
       'D-8_low', 'D-8_close', 'D-8_MA5', 'D-8_MA20', 'D-8_MA60',
       'D-8_MA120', 'D-8_MA240', 'D-8_AO', 'D-8_KAMA', 'D-8_ADI',
       'D-8_FI', 'D-8_VMAP', 'D-8_BBH', 'D-8_BBL', 'D-8_BBM', 'D-8_DCH',
       'D-8_DCL', 'D-8_DCM', 'D-8_KCH', 'D-8_KCL', 'D-8_KCM', 'D-8_DPO',
       'D-8_Ichimoku_a', 'D-8_Ichimoku_b', 'D-8_ichimoku_base_line',
       'D-8_ichimoku_conversion_line', 'D-8_MACD', 'D-8_MACDdiff',
       'D-8_MACDsig', 'D-8_PSARdown', 'D-8_PSARup', 'D-8_CR', 'D-8_DLR',
       'D-8_PVO', 'D-8_SRSI', 'D-8_AIdown', 'D-8_STC', 'D-8_RSI',
       'D-8_EOMsig', 'D-8_NVI', 'D-8_ADXneg', 'D-8_WR', 'D-8_AIup',
       'D-8_rTR', 'D-8_VIneg', 'D-8_PVOsig', 'D-8_SO', 'D-8_ATR',
       'D-8_CMF', 'D-8_TSI', 'D-8_ADX', 'D-8_MI', 'D-8_SRSIK', 'D-8_EOM',
       'D-8_BBW', 'D-8_UI', 'D-8_ADXpos', 'D-8_PPOsig', 'D-8_TRIX',
       'D-8_volume', 'D-8_KSTsig', 'D-8_CCI', 'D-8_tradingvalue',
       'D-8_OBV', 'D-8_VPT', 'D-8_UO', 'D-8_SOsig', 'D-8_KCP', 'D-8_DCP',
       'D-8_PVOhist', 'D-8_PPO', 'D-8_VIpos', 'D-8_ROC', 'D-8_MFI',
       'D-8_KCW', 'D-8_BBP', 'D-8_KST', 'D-8_DCW', 'D-8_SRSID',
       'D-8_PPOhist', 'D-7_open', 'D-7_high', 'D-7_low', 'D-7_close',
       'D-7_MA5', 'D-7_MA20', 'D-7_MA60', 'D-7_MA120', 'D-7_MA240',
       'D-7_AO', 'D-7_KAMA', 'D-7_ADI', 'D-7_FI', 'D-7_VMAP', 'D-7_BBH',
       'D-7_BBL', 'D-7_BBM', 'D-7_DCH', 'D-7_DCL', 'D-7_DCM', 'D-7_KCH',
       'D-7_KCL', 'D-7_KCM', 'D-7_DPO', 'D-7_Ichimoku_a',
       'D-7_Ichimoku_b', 'D-7_ichimoku_base_line',
       'D-7_ichimoku_conversion_line', 'D-7_MACD', 'D-7_MACDdiff',
       'D-7_MACDsig', 'D-7_PSARdown', 'D-7_PSARup', 'D-7_CR', 'D-7_DLR',
       'D-7_PVO', 'D-7_SRSI', 'D-7_AIdown', 'D-7_STC', 'D-7_RSI',
       'D-7_EOMsig', 'D-7_NVI', 'D-7_ADXneg', 'D-7_WR', 'D-7_AIup',
       'D-7_rTR', 'D-7_VIneg', 'D-7_PVOsig', 'D-7_SO', 'D-7_ATR',
       'D-7_CMF', 'D-7_TSI', 'D-7_ADX', 'D-7_MI', 'D-7_SRSIK', 'D-7_EOM',
       'D-7_BBW', 'D-7_UI', 'D-7_ADXpos', 'D-7_PPOsig', 'D-7_TRIX',
       'D-7_volume', 'D-7_KSTsig', 'D-7_CCI', 'D-7_tradingvalue',
       'D-7_OBV', 'D-7_VPT', 'D-7_UO', 'D-7_SOsig', 'D-7_KCP', 'D-7_DCP',
       'D-7_PVOhist', 'D-7_PPO', 'D-7_VIpos', 'D-7_ROC', 'D-7_MFI',
       'D-7_KCW', 'D-7_BBP', 'D-7_KST', 'D-7_DCW', 'D-7_SRSID',
       'D-7_PPOhist', 'D-6_open', 'D-6_high', 'D-6_low', 'D-6_close',
       'D-6_MA5', 'D-6_MA20', 'D-6_MA60', 'D-6_MA120', 'D-6_MA240',
       'D-6_AO', 'D-6_KAMA', 'D-6_ADI', 'D-6_FI', 'D-6_VMAP', 'D-6_BBH',
       'D-6_BBL', 'D-6_BBM', 'D-6_DCH', 'D-6_DCL', 'D-6_DCM', 'D-6_KCH',
       'D-6_KCL', 'D-6_KCM', 'D-6_DPO', 'D-6_Ichimoku_a',
       'D-6_Ichimoku_b', 'D-6_ichimoku_base_line',
       'D-6_ichimoku_conversion_line', 'D-6_MACD', 'D-6_MACDdiff',
       'D-6_MACDsig', 'D-6_PSARdown', 'D-6_PSARup', 'D-6_CR', 'D-6_DLR',
       'D-6_PVO', 'D-6_SRSI', 'D-6_AIdown', 'D-6_STC', 'D-6_RSI',
       'D-6_EOMsig', 'D-6_NVI', 'D-6_ADXneg', 'D-6_WR', 'D-6_AIup',
       'D-6_rTR', 'D-6_VIneg', 'D-6_PVOsig', 'D-6_SO', 'D-6_ATR',
       'D-6_CMF', 'D-6_TSI', 'D-6_ADX', 'D-6_MI', 'D-6_SRSIK', 'D-6_EOM',
       'D-6_BBW', 'D-6_UI', 'D-6_ADXpos', 'D-6_PPOsig', 'D-6_TRIX',
       'D-6_volume', 'D-6_KSTsig', 'D-6_CCI', 'D-6_tradingvalue',
       'D-6_OBV', 'D-6_VPT', 'D-6_UO', 'D-6_SOsig', 'D-6_KCP', 'D-6_DCP',
       'D-6_PVOhist', 'D-6_PPO', 'D-6_VIpos', 'D-6_ROC', 'D-6_MFI',
       'D-6_KCW', 'D-6_BBP', 'D-6_KST', 'D-6_DCW', 'D-6_SRSID',
       'D-6_PPOhist', 'D-5_open', 'D-5_high', 'D-5_low', 'D-5_close',
       'D-5_MA5', 'D-5_MA20', 'D-5_MA60', 'D-5_MA120', 'D-5_MA240',
       'D-5_AO', 'D-5_KAMA', 'D-5_ADI', 'D-5_FI', 'D-5_VMAP', 'D-5_BBH',
       'D-5_BBL', 'D-5_BBM', 'D-5_DCH', 'D-5_DCL', 'D-5_DCM', 'D-5_KCH',
       'D-5_KCL', 'D-5_KCM', 'D-5_DPO', 'D-5_Ichimoku_a',
       'D-5_Ichimoku_b', 'D-5_ichimoku_base_line',
       'D-5_ichimoku_conversion_line', 'D-5_MACD', 'D-5_MACDdiff',
       'D-5_MACDsig', 'D-5_PSARdown', 'D-5_PSARup', 'D-5_CR', 'D-5_DLR',
       'D-5_PVO', 'D-5_SRSI', 'D-5_AIdown', 'D-5_STC', 'D-5_RSI',
       'D-5_EOMsig', 'D-5_NVI', 'D-5_ADXneg', 'D-5_WR', 'D-5_AIup',
       'D-5_rTR', 'D-5_VIneg', 'D-5_PVOsig', 'D-5_SO', 'D-5_ATR',
       'D-5_CMF', 'D-5_TSI', 'D-5_ADX', 'D-5_MI', 'D-5_SRSIK', 'D-5_EOM',
       'D-5_BBW', 'D-5_UI', 'D-5_ADXpos', 'D-5_PPOsig', 'D-5_TRIX',
       'D-5_volume', 'D-5_KSTsig', 'D-5_CCI', 'D-5_tradingvalue',
       'D-5_OBV', 'D-5_VPT', 'D-5_UO', 'D-5_SOsig', 'D-5_KCP', 'D-5_DCP',
       'D-5_PVOhist', 'D-5_PPO', 'D-5_VIpos', 'D-5_ROC', 'D-5_MFI',
       'D-5_KCW', 'D-5_BBP', 'D-5_KST', 'D-5_DCW', 'D-5_SRSID',
       'D-5_PPOhist', 'D-4_open', 'D-4_high', 'D-4_low', 'D-4_close',
       'D-4_MA5', 'D-4_MA20', 'D-4_MA60', 'D-4_MA120', 'D-4_MA240',
       'D-4_AO', 'D-4_KAMA', 'D-4_ADI', 'D-4_FI', 'D-4_VMAP', 'D-4_BBH',
       'D-4_BBL', 'D-4_BBM', 'D-4_DCH', 'D-4_DCL', 'D-4_DCM', 'D-4_KCH',
       'D-4_KCL', 'D-4_KCM', 'D-4_DPO', 'D-4_Ichimoku_a',
       'D-4_Ichimoku_b', 'D-4_ichimoku_base_line',
       'D-4_ichimoku_conversion_line', 'D-4_MACD', 'D-4_MACDdiff',
       'D-4_MACDsig', 'D-4_PSARdown', 'D-4_PSARup', 'D-4_CR', 'D-4_DLR',
       'D-4_PVO', 'D-4_SRSI', 'D-4_AIdown', 'D-4_STC', 'D-4_RSI',
       'D-4_EOMsig', 'D-4_NVI', 'D-4_ADXneg', 'D-4_WR', 'D-4_AIup',
       'D-4_rTR', 'D-4_VIneg', 'D-4_PVOsig', 'D-4_SO', 'D-4_ATR',
       'D-4_CMF', 'D-4_TSI', 'D-4_ADX', 'D-4_MI', 'D-4_SRSIK', 'D-4_EOM',
       'D-4_BBW', 'D-4_UI', 'D-4_ADXpos', 'D-4_PPOsig', 'D-4_TRIX',
       'D-4_volume', 'D-4_KSTsig', 'D-4_CCI', 'D-4_tradingvalue',
       'D-4_OBV', 'D-4_VPT', 'D-4_UO', 'D-4_SOsig', 'D-4_KCP', 'D-4_DCP',
       'D-4_PVOhist', 'D-4_PPO', 'D-4_VIpos', 'D-4_ROC', 'D-4_MFI',
       'D-4_KCW', 'D-4_BBP', 'D-4_KST', 'D-4_DCW', 'D-4_SRSID',
       'D-4_PPOhist', 'D-3_open', 'D-3_high', 'D-3_low', 'D-3_close',
       'D-3_MA5', 'D-3_MA20', 'D-3_MA60', 'D-3_MA120', 'D-3_MA240',
       'D-3_AO', 'D-3_KAMA', 'D-3_ADI', 'D-3_FI', 'D-3_VMAP', 'D-3_BBH',
       'D-3_BBL', 'D-3_BBM', 'D-3_DCH', 'D-3_DCL', 'D-3_DCM', 'D-3_KCH',
       'D-3_KCL', 'D-3_KCM', 'D-3_DPO', 'D-3_Ichimoku_a',
       'D-3_Ichimoku_b', 'D-3_ichimoku_base_line',
       'D-3_ichimoku_conversion_line', 'D-3_MACD', 'D-3_MACDdiff',
       'D-3_MACDsig', 'D-3_PSARdown', 'D-3_PSARup', 'D-3_CR', 'D-3_DLR',
       'D-3_PVO', 'D-3_SRSI', 'D-3_AIdown', 'D-3_STC', 'D-3_RSI',
       'D-3_EOMsig', 'D-3_NVI', 'D-3_ADXneg', 'D-3_WR', 'D-3_AIup',
       'D-3_rTR', 'D-3_VIneg', 'D-3_PVOsig', 'D-3_SO', 'D-3_ATR',
       'D-3_CMF', 'D-3_TSI', 'D-3_ADX', 'D-3_MI', 'D-3_SRSIK', 'D-3_EOM',
       'D-3_BBW', 'D-3_UI', 'D-3_ADXpos', 'D-3_PPOsig', 'D-3_TRIX',
       'D-3_volume', 'D-3_KSTsig', 'D-3_CCI', 'D-3_tradingvalue',
       'D-3_OBV', 'D-3_VPT', 'D-3_UO', 'D-3_SOsig', 'D-3_KCP', 'D-3_DCP',
       'D-3_PVOhist', 'D-3_PPO', 'D-3_VIpos', 'D-3_ROC', 'D-3_MFI',
       'D-3_KCW', 'D-3_BBP', 'D-3_KST', 'D-3_DCW', 'D-3_SRSID',
       'D-3_PPOhist', 'D-2_open', 'D-2_high', 'D-2_low', 'D-2_close',
       'D-2_MA5', 'D-2_MA20', 'D-2_MA60', 'D-2_MA120', 'D-2_MA240',
       'D-2_AO', 'D-2_KAMA', 'D-2_ADI', 'D-2_FI', 'D-2_VMAP', 'D-2_BBH',
       'D-2_BBL', 'D-2_BBM', 'D-2_DCH', 'D-2_DCL', 'D-2_DCM', 'D-2_KCH',
       'D-2_KCL', 'D-2_KCM', 'D-2_DPO', 'D-2_Ichimoku_a',
       'D-2_Ichimoku_b', 'D-2_ichimoku_base_line',
       'D-2_ichimoku_conversion_line', 'D-2_MACD', 'D-2_MACDdiff',
       'D-2_MACDsig', 'D-2_PSARdown', 'D-2_PSARup', 'D-2_CR', 'D-2_DLR',
       'D-2_PVO', 'D-2_SRSI', 'D-2_AIdown', 'D-2_STC', 'D-2_RSI',
       'D-2_EOMsig', 'D-2_NVI', 'D-2_ADXneg', 'D-2_WR', 'D-2_AIup',
       'D-2_rTR', 'D-2_VIneg', 'D-2_PVOsig', 'D-2_SO', 'D-2_ATR',
       'D-2_CMF', 'D-2_TSI', 'D-2_ADX', 'D-2_MI', 'D-2_SRSIK', 'D-2_EOM',
       'D-2_BBW', 'D-2_UI', 'D-2_ADXpos', 'D-2_PPOsig', 'D-2_TRIX',
       'D-2_volume', 'D-2_KSTsig', 'D-2_CCI', 'D-2_tradingvalue',
       'D-2_OBV', 'D-2_VPT', 'D-2_UO', 'D-2_SOsig', 'D-2_KCP', 'D-2_DCP',
       'D-2_PVOhist', 'D-2_PPO', 'D-2_VIpos', 'D-2_ROC', 'D-2_MFI',
       'D-2_KCW', 'D-2_BBP', 'D-2_KST', 'D-2_DCW', 'D-2_SRSID',
       'D-2_PPOhist', 'D-1_open', 'D-1_high', 'D-1_low', 'D-1_close',
       'D-1_MA5', 'D-1_MA20', 'D-1_MA60', 'D-1_MA120', 'D-1_MA240',
       'D-1_AO', 'D-1_KAMA', 'D-1_ADI', 'D-1_FI', 'D-1_VMAP', 'D-1_BBH',
       'D-1_BBL', 'D-1_BBM', 'D-1_DCH', 'D-1_DCL', 'D-1_DCM', 'D-1_KCH',
       'D-1_KCL', 'D-1_KCM', 'D-1_DPO', 'D-1_Ichimoku_a',
       'D-1_Ichimoku_b', 'D-1_ichimoku_base_line',
       'D-1_ichimoku_conversion_line', 'D-1_MACD', 'D-1_MACDdiff',
       'D-1_MACDsig', 'D-1_PSARdown', 'D-1_PSARup', 'D-1_CR', 'D-1_DLR',
       'D-1_PVO', 'D-1_SRSI', 'D-1_AIdown', 'D-1_STC', 'D-1_RSI',
       'D-1_EOMsig', 'D-1_NVI', 'D-1_ADXneg', 'D-1_WR', 'D-1_AIup',
       'D-1_rTR', 'D-1_VIneg', 'D-1_PVOsig', 'D-1_SO', 'D-1_ATR',
       'D-1_CMF', 'D-1_TSI', 'D-1_ADX', 'D-1_MI', 'D-1_SRSIK', 'D-1_EOM',
       'D-1_BBW', 'D-1_UI', 'D-1_ADXpos', 'D-1_PPOsig', 'D-1_TRIX',
       'D-1_volume', 'D-1_KSTsig', 'D-1_CCI', 'D-1_tradingvalue',
       'D-1_OBV', 'D-1_VPT', 'D-1_UO', 'D-1_SOsig', 'D-1_KCP', 'D-1_DCP',
       'D-1_PVOhist', 'D-1_PPO', 'D-1_VIpos', 'D-1_ROC', 'D-1_MFI',
       'D-1_KCW', 'D-1_BBP', 'D-1_KST', 'D-1_DCW', 'D-1_SRSID',
       'D-1_PPOhist', 'NextChange'], dtype=object)

In [6]:
d2012.shape

(284412, 823)

In [5]:
(np.array(d2012)).shape

(284412, 823)

In [181]:
d2015.describe()

,date,D-10_open,D-10_high,D-10_low,D-10_close,D-10_MA5,D-10_MA20,D-10_MA60,D-10_MA120,D-10_MA240,...,D-1_VIpos,D-1_ROC,D-1_MFI,D-1_KCW,D-1_BBP,D-1_KST,D-1_DCW,D-1_SRSID,D-1_PPOhist,NextChange
count,3.143610e+05,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000,...,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000,314361.000000
mean,2.015068e+07,0.002667,0.031839,-0.025061,0.002356,-0.000125,-0.005166,-0.020175,-0.038200,-0.069385,...,0.991505,3.085585,55.975656,11.500938,0.541317,54.597840,20.674738,0.485744,0.015459,0.176403
std,3.293646e+02,0.020612,0.041814,0.028807,0.042057,0.031586,0.089839,0.157525,0.211013,0.299976,...,0.145548,17.683378,19.556164,4.849744,0.349341,212.717351,13.078155,0.313499,1.444424,4.529870
min,2.015010e+07,-0.300000,-0.299127,-0.300149,-0.300031,-0.296398,-0.701484,-0.830216,-0.882986,-0.912179,...,0.398770,-87.079000,0.000000,1.173400,-0.576340,-806.470000,4.923000,0.000000,-14.481000,-88.660000
25%,2.015042e+07,-0.004525,0.008712,-0.035787,-0.017646,-0.013830,-0.047986,-0.104590,-0.158722,-0.230621,...,0.891170,-6.219300,41.752000,8.210000,0.264790,-53.038000,12.645000,0.190360,-0.769870,-1.850000
50%,2.015071e+07,0.000000,0.019830,-0.019841,0.000000,0.000441,-0.002902,-0.022022,-0.043762,-0.085761,...,0.996540,1.051200,57.661000,10.394000,0.546020,24.531000,17.178000,0.479080,0.001010,0.000000
75%,2.015092e+07,0.009174,0.039956,-0.008573,0.017097,0.014628,0.040313,0.063862,0.073451,0.055683,...,1.093900,9.090900,71.142000,13.536000,0.805900,114.120000,24.542000,0.776430,0.750990,1.700000
max,2.015123e+07,0.740000,0.301189,0.300385,0.301003,0.523684,3.255701,5.807724,5.318409,9.085211,...,1.561600,996.810000,100.000000,143.190000,1.588300,7511.900000,832.520000,1.000000,32.509000,631.430000

# arr test

In [63]:
tmp1 = np.array([[1,2],[3,4], [5,6]])
tmp1
tmp1.shape # 2차원; 3행, 2열
tmp2 = np.array([[7,8], [9,10]])
np.concatenate([tmp1,tmp2]) # 열 수가 같을 경우 아래로 이음
tmp1.reshape(2,-1)
np.concatenate([tmp1.reshape(2,-1),tmp2], axis = 1) # 행 수만 같으면 옆으로 이음
tmp1[0] # 0행
tmp1[0][0] # 0행, 0열
tmp1[:,-1] # 모든 행, 1열

array([[1, 2],
       [3, 4],
       [5, 6]])

(3, 2)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])

array([[1, 2, 3],
       [4, 5, 6]])

array([[ 1,  2,  3,  7,  8],
       [ 4,  5,  6,  9, 10]])

array([1, 2])

1

array([2, 4, 6])

In [75]:
tmp3 = np.array([[[1,2], [3,4], [5,6]]])
tmp3.shape # 3차원; depth: 1, row 3, col 2
tmp3
tmp3[0] # 0번째 dep
tmp4 = np.array([ [[1,2], [3,4]], [[5,6],[7,8]], [[9,10],[11,12]] ])
tmp4.shape # 3차원; depth: 3, row 2, col 2
tmp4
# tmp4[0] # 0번째 depth.
        # array([[1, 2],
        #       [3, 4]])
        
# tmp4[0][0] # 0번째 dep의 0번째 row. array([1, 2])

# tmp4[:,:,0] # 0번째 열들만, depth가 3개라 0번째 열들이 3개로 나눠져서 나옴.
            # array([[ 1,  3],
            #       [ 5,  7],
            #       [ 9, 11]])

# tmp3[:,:,0] # depth가 1개라 0번째 열들이 안나눠져서 나옴. array([[1, 3, 5]])

# tmp4[0][:,0] # 0번째 depth의 모든 행에 대한 0번째 열. array([1, 3])

# tmp4[:,0,:] # 0번째 행들만, depth가 3개라 0번째 행들이 3개로 나눠져서 나옴.
            # array([[ 1,  2],
            #       [ 5,  6],
            #       [ 9, 10]])
tmp4[:,:,:-1] # 모든 깊이, 모든 행에 대해 마지막 열의 직전까지

(1, 3, 2)

array([[[1, 2],
        [3, 4],
        [5, 6]]])

array([[1, 2],
       [3, 4],
       [5, 6]])

(3, 2, 2)

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

array([[[ 1],
        [ 3]],

       [[ 5],
        [ 7]],

       [[ 9],
        [11]]])

In [86]:
tmp5 = np.array([[[1,2,3]],[[4,5,6]],[[7,8,9]]])
tmp5

tmp6 = np.array([[[1,2,3],[4,5,6]],[[4,5,6]],[[7,8,9]]])
tmp6

tmp7 = np.array([[[1,2,3], [4,5,6], [7,8,9]],
                 [[10,11,12], [13,14,15], [16,17,18]],
                 [[19,20,21], [22,23,24], [25,26,27]]])
tmp7

tmp7[::-1] # 깊이 단위로 거꾸로 reverse
tmp7[:,:,:-1] # 마지막 열 전까지 모든깊이, 모든 행, 그외 열
tmp7[:,:-1, :] # 마지막 행 전까지 모든 깊이, 모든 열, 그외 행
tmp7[:-1,:, :] # 마지막 깊이 전까지 모든 행, 모든 열, 그외 깊이
tmp7[:,:-1, :-1] # 마지막 행, 마지막 열 전까지 모든 깊이, 그외 행열

array([[[1, 2, 3]],

       [[4, 5, 6]],

       [[7, 8, 9]]])

array([list([[1, 2, 3], [4, 5, 6]]), list([[4, 5, 6]]), list([[7, 8, 9]])],
      dtype=object)

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

array([[[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]]])

array([[[ 1,  2],
        [ 4,  5],
        [ 7,  8]],

       [[10, 11],
        [13, 14],
        [16, 17]],

       [[19, 20],
        [22, 23],
        [25, 26]]])

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[10, 11, 12],
        [13, 14, 15]],

       [[19, 20, 21],
        [22, 23, 24]]])

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]],

       [[19, 20],
        [22, 23]]])

In [105]:
tmp7
# tmp7.reshape(-1,3,1) # 3행, 1열짜리로 reshape
# tmp7.reshape(-1,3) # 3열짜리, 2차원으로 reshape
# tmp7.reshape(-1,9) # 9열짜리 2차원으로 reshape
tmp7.reshape(-1,1).shape # 1열짜리로 reshape (27,1)

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

(27, 1)

In [20]:
# 에러남. 실행 안됨. numpy_array = np.loadtxt(file, delimiter=",") 여기서 에러남
# ValueError: could not convert string to float: 'date'

# file = open(ddir + 'stock.KOSPI.KOSDAQ.2012.csv')
# numpy_array = np.loadtxt(file, delimiter=",")
# numpy_array

In [22]:
# 에러남. 실행 안됨. for row in reader: 여기서 에러남
# ValueError: could not convert string to float: 'date'

# import csv

# results = []
# with open(ddir + 'stock.KOSPI.KOSDAQ.2012.csv') as csvfile:
#     reader = csv.reader(csvfile, quoting=csv.QUOTE_NONNUMERIC) # change contents to floats
#     for row in reader: # each row is a list
#         results.append(row)

# csv to array test

In [28]:
# [csv to numpy methods](https://linuxhint.com/python-read-csv-2d-array/)
# Method 3: Using the Pandas Dataframe
Array2d_result = d2012.to_numpy()
# print(Array2d_result)
Array2d_result.shape

(284412, 823)

In [27]:
# Method 5: Using Pandas Dataframe Values
Array2d_result = d2012.values
# print(Array2d_result)
Array2d_result.shape

(284412, 823)

# csv to array

In [7]:
a2012 = d2012.to_numpy()
a2013 = d2013.to_numpy()
a2014 = d2014.to_numpy()
a2015 = d2015.to_numpy()
a2016 = d2016.to_numpy()
a2017 = d2017.to_numpy()
a2018 = d2018.to_numpy()
a2019 = d2019.to_numpy()
a2020 = d2020.to_numpy()
a2021 = d2021.to_numpy()

In [14]:
len(a2012)
len(a2013)
len(a2014)
len(a2015)
len(a2016)
len(a2017)
len(a2018)
len(a2019)
len(a2020)
len(a2021)

284412

242826

242448

314361

263593

216591

307395

278610

371006

321808

# feature selection 전에 먼저 그냥 돌려보기 (비교용), 회귀 모델 전체 한 번에 돌리기
* 3Y train,1Y test

## 3Y: a1214

In [13]:
a2012.shape[0] + a2013.shape[0] + a2014.shape[0]

a1214 = np.concatenate([a2012, a2013, a2014]) # 2차원 arr[행][열]

# np.concatenate([a2013, a2014, a2015])
# np.concatenate([a2014, a2015, a2016])
# np.concatenate([a2015, a2016, a2017])
# np.concatenate([a2016, a2017, a2018])
# np.concatenate([a2017, a2018, a2019])
# np.concatenate([a2018, a2019, a2020])
# np.concatenate([a2019, a2020, a2021])

769686

In [110]:
results = []
def my_regressor():
    X = a1214[:,:-1]
    y = a1214[:,-1]
    from sklearn.linear_model import LinearRegression # 일반 회귀 모델
    from sklearn.linear_model import Ridge, Lasso, ElasticNet # Norm 규제 회귀 모델
    from sklearn.linear_model import ARDRegression, BayesianRidge # 베이지안 회귀
    from sklearn.ensemble import RandomForestRegressor # decision tree 앙상블 모델, 배깅
    from xgboost import XGBRegressor # decision tree 앙상블 모델, 부스팅
#     from sklearn.model_selection import cross_val_score # model 검증
    
#     from sklearn.model_selection import StratifiedShuffleSplit
    from sklearn.model_selection import ShuffleSplit
    
    from sklearn.dummy import DummyRegressor
    from sklearn import metrics # 모델 평가 지표 for scoring (mse)
    
    import ast # convert string to function
    
    
#     ################################################### 전처리 파이프라인
#     from sklearn.pipeline import Pipeline
#     from sklearn.impute import SimpleImputer
#     from sklearn.preprocessing import MinMaxScaler

#     my_pipeline = Pipeline([('mean_imputer', SimpleImputer(strategy = 'mean')),
#                            ('mm_scaler', MinMaxScaler())])
    ##############################################################################

    
    linear = LinearRegression()
    ridge, lasso, elasticnet = Ridge(), Lasso(), ElasticNet()
    ardr_linear, baysian_ridge = ARDRegression(), BayesianRidge()
    random_forest = RandomForestRegressor()
    xgboost_linear = XGBRegressor()
    dummy = DummyRegressor(strategy = 'mean')
    
    my_model_list = ['linear', 'ridge', 'lasso', 'elasticnet',
                     'ardr_linear', 'baysian_ridge',
                     'random_forest', 'xgboost_linear', 'dummy']
    
    ######################################################################### fitting
    for model_nm in tqdm(my_model_list):
        
        # cv
        ss = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
        for train_idx, test_idx in tqdm(ss.split(X,y)):
            x_train = a1214[train_idx,2:-1] # 식별변수 제외 나머지 열 ~ NC열 전까지
            y_train = a1214[train_idx,-1]
            x_test = a1214[test_idx,2:-1] # 식별변수 제외 나머지 열 ~ NC열 전까지
            y_test = a1214[test_idx,-1]
            
            
            y_train = y_train.reshape(-1,1) # 1열짜리로 만드는 것
            y_test = y_test.reshape(-1,1)

#             # 전처리 (scaling)
#             x_train_fit = my_pipeline.fit(x_train)
#             x_train_pre = x_train_fit.transform(x_train)
#             x_test_pre = x_train_fit.transform(x_test)

#             y_train_fit = my_pipeline.fit(y_train)
#             y_train_pre = y_train_fit.transform(y_train)
#             y_test_pre = y_train_fit.transform(y_test)
            ########################################################
        
            # fitting
            model_ = eval(model_nm).fit(x_train, y_train)
            y_pred_test = model_.predict(x_test) # 예측

            mse_score = metrics.mean_squared_error(y_test, y_pred_test)

            results.append([i, f'{model_nm}', mse_score]) #[:str(model).index("(")]
            i+=1
            #####################################################################################
    
    return results#score_dic#[0]

In [114]:
_ = my_regressor()
results

# X, y; train, test

In [14]:
X_train = a1214[:,2:-1]
y_train = a1214[:,-1]
X_test = a2015[:,2:-1]
y_test = a2015[:,-1]

# linear regressor만 따로 돌리기

In [8]:
from sklearn.linear_model import LinearRegression # 일반 회귀 모델
linear = LinearRegression()
L_model = linear.fit(X_train, y_train)

## 예측

In [10]:
L_pred_train = L_model.predict(X_train)
L_pred_test = L_model.predict(X_test)

len(L_pred_train)
len(L_pred_test)

769686

314361

## MSE
- 가장 직관적, 그냥 오차?

In [189]:
d2015.median().sort_values()[550:]
# d2015.median().sort_values()[-10:]
d2015.median().mean()

D-1_VIpos           9.965400e-01
D-1_ROC             1.051200e+00
D-1_NVI             1.489800e+00
D-2_NVI             1.492400e+00
D-3_NVI             1.493800e+00
                        ...
D-5_tradingvalue    9.872374e+08
D-4_tradingvalue    1.000063e+09
D-3_tradingvalue    1.007774e+09
D-2_tradingvalue    1.013455e+09
D-1_tradingvalue    1.018044e+09
Length: 272, dtype: float64

12563092.569550484

In [179]:
from sklearn import metrics # 모델 평가 지표 scoring (mse)
L_train_mse_score = metrics.mean_squared_error(y_train, L_pred_train)
L_test_mse_score = metrics.mean_squared_error(y_test, L_pred_test)

L_train_mse_score
L_test_mse_score

15.045480494154003

20.539773069241683

## R2 score
- 1에 가까울 수록 높은 성능의 모델

In [176]:
from sklearn.metrics import r2_score
# (y_true, y_pred, *, sample_weight=None, multioutput='uniform_average', force_finite=True)

In [177]:
r2_score(y_test, L_pred_test)

-0.0009804228689156425

# DecisionTreeRegressor
- 강력, 데이터에서 복잡한 비선형 관계를 찾을 수 있음.

In [ ]:
from sklearn.tree import DecisionTreeRegressor
DecisionTree = DecisionTreeRegressor()
D_model = DecisionTree.fit(X_train, y_train)

## 예측

### multiprocessing

In [13]:
from multiprocessing import Pool
p = Pool(5)
def f(x):
    return x*x
with p:
    p.map(f, [1,2,3])

p.close() # close를 해야함. (안하면 계산을 안멈춤.)

[1, 4, 9]

### multiprocessing, 내부 연산 비교

In [5]:
import numpy as np
from multiprocessing import Pool

arr = np.random.random(1000000)

def mul(x):
    return x * 10

In [22]:
%%time
# Serial Python
result = arr*10 # [mul(x) for x in arr]
result

CPU times: user 64.7 ms, sys: 0 ns, total: 64.7 ms
Wall time: 63.4 ms

array([0.0951484 , 6.89452034, 4.38690542, ..., 9.39343195, 6.04557671,
       7.98635604])

In [23]:
%%time
with Pool(processes=16) as p:
    result = arr*10#p.map(mul, arr)

CPU times: user 10.9 ms, sys: 9.56 s, total: 9.58 s
Wall time: 11.2 s

### ray

In [2]:
# pip install ray

In [19]:
ray.shutdown() # ray.init을 전에 했었다면 다시 init 하기 이전에 선행돼야 함. (혹은 init 후 바로 shutdown 실행, 혹은 init에 ignore_reinit_error=True 넣어주기)

In [8]:
%%time
import ray
import numpy as np
arr = np.random.random(1000000)

ray.init(num_cpus=16)

@ray.remote
def mul(x):
    return x * 10

arr = ray.put(arr)
result = ray.get(mul.remote(arr))
ray.shutdown()

CPU times: user 30.7 ms, sys: 73.8 ms, total: 104 ms
Wall time: 5.3 s

In [48]:
a2015.shape

(314361, 823)

In [49]:
a1215 = np.concatenate([a2012, a2013, a2014, a2015]) # 2차원 arr[행][열]
# X_train = a1215[:len(2015),2:-1]
# y_train = a1215[:len(2015),-1]
# X_test = a1215[len(a2015):,2:-1]
# y_test = a1215[len(a2015):,-1]

In [65]:
a1215.shape

(1084047, 823)

In [63]:
%%time
ray.init(num_cpus = 16) #, ignore_reinit_error=True

@ray.remote # 반드시 함수 바로 위에 씀. # 파이썬 함수나 클래스를 다른 프로세스에서 실행되는 Ray task로 만들어주는 데코레이터
def reg_modeling(X_y_train_test):
    
    X_train = ray.put(X_y_train_test[:len(a2015),2:-1]) # X_y_train_test[:len(2015),2:-1]
    y_train = ray.put(X_y_train_test[:len(a2015),-1]) # X_y_train_test[:len(2015),-1]
    X_test = ray.put(X_y_train_test[len(a2015):,2:-1]) # X_y_train_test[len(a2015):,2:-1]
    y_test = ray.put(X_y_train_test[len(a2015):,-1]) # X_y_train_test[len(a2015):,-1]
    
    from sklearn.linear_model import LinearRegression # 일반 회귀 모델
    linear = LinearRegression()
    L_model = linear.fit(X_train, y_train)
#     L_pred_train = L_model.predict(X_train)
    L_pred_test = L_model.predict(X_test)
    
    from sklearn import metrics # 모델 평가 지표 scoring (mse)
#     L_train_mse_score = metrics.mean_squared_error(y_train, L_pred_train)
    L_test_mse = metrics.mean_squared_error(y_test, L_pred_test)
    
    from sklearn.metrics import r2_score
    L_test_r2 = r2_score(y_test, L_pred_test)
    return L_test_mse, L_test_r2


ray_a1215 = ray.put(a1215) # put에는 1개의 input만 가능

results = ray.get(reg_modeling.remote(ray_a1215))
ray.shutdown()

ValueError: The remote function __main__.reg_modeling is too large (2218 MiB > FUNCTION_SIZE_ERROR_THRESHOLD=95 MiB). Check that its definition is not implicitly capturing a large array or other object in scope. Tip: use ray.put() to put large objects in the Ray object store.

In [46]:
ray

In [62]:
ray.shutdown()

In [56]:
results

NameError: name 'results' is not defined

In [8]:
d1215 = pd.concat([d2012, d2013, d2014, d2015])

In [69]:
# pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Collecting pyarrow
  Downloading pyarrow-8.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (29.4 MB)
     |████████████████████████████████| 29.4 MB 11.9 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16.6 in /package/anaconda3.8/lib/python3.8/site-packages (from pyarrow) (1.19.5)
Installing collected packages: pyarrow
  WARNING: The script plasma_store is installed in '/home/gayoun0/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed pyarrow-8.0.0
Note: you may need to restart the kernel to use updated packages.

In [10]:
# d1215.head()
d1215.reset_index(drop = True, inplace = True)

In [9]:
d1215.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084047 entries, 0 to 314360
Columns: 823 entries, date to NextChange
dtypes: float64(821), int64(1), object(1)
memory usage: 6.7+ GB

In [124]:
'001'.isdigit()
type('01')

True

str

#### 'int'를 int로

In [144]:
for i in range(len(d1215['code'])):
#     d1215['code'][i]
#     break
    if type(d1215['code'][i]) == str and d1215['code'][i].isdigit():
            d1215['code'][i] = int(d1215['code'][i]) # d1215['code'][i].astype('int')
#     if type(d1215['code'][i]) == str and d1215['code'][i].isdigit()==False:
#             print(d1215['code'][i])
#             break

00781K

In [11]:
d1215['code'] = d1215['code'].astype('category')

In [145]:
d1215[d1215['code']=='000520']
d1215[d1215['code']=='00781K']

Empty DataFrame
Columns: [date, code, D-10_open, D-10_high, D-10_low, D-10_close, D-10_MA5, D-10_MA20, D-10_MA60, D-10_MA120, D-10_MA240, D-10_AO, D-10_KAMA, D-10_ADI, D-10_FI, D-10_VMAP, D-10_BBH, D-10_BBL, D-10_BBM, D-10_DCH, D-10_DCL, D-10_DCM, D-10_KCH, D-10_KCL, D-10_KCM, D-10_DPO, D-10_Ichimoku_a, D-10_Ichimoku_b, D-10_ichimoku_base_line, D-10_ichimoku_conversion_line, D-10_MACD, D-10_MACDdiff, D-10_MACDsig, D-10_PSARdown, D-10_PSARup, D-10_CR, D-10_DLR, D-10_PVO, D-10_SRSI, D-10_AIdown, D-10_STC, D-10_RSI, D-10_EOMsig, D-10_NVI, D-10_ADXneg, D-10_WR, D-10_AIup, D-10_rTR, D-10_VIneg, D-10_PVOsig, D-10_SO, D-10_ATR, D-10_CMF, D-10_TSI, D-10_ADX, D-10_MI, D-10_SRSIK, D-10_EOM, D-10_BBW, D-10_UI, D-10_ADXpos, D-10_PPOsig, D-10_TRIX, D-10_volume, D-10_KSTsig, D-10_CCI, D-10_tradingvalue, D-10_OBV, D-10_VPT, D-10_UO, D-10_SOsig, D-10_KCP, D-10_DCP, D-10_PVOhist, D-10_PPO, D-10_VIpos, D-10_ROC, D-10_MFI, D-10_KCW, D-10_BBP, D-10_KST, D-10_DCW, D-10_SRSID, D-10_PPOhist, D-9_open, D-9_high, D-9_low, D-9_close, D-9_MA5, D-9_MA20, D-9_MA60, D-9_MA120, D-9_MA240, D-9_AO, D-9_KAMA, D-9_ADI, D-9_FI, D-9_VMAP, D-9_BBH, D-9_BBL, ...]
Index: []

[0 rows x 823 columns]

,date,code,D-10_open,D-10_high,D-10_low,D-10_close,D-10_MA5,D-10_MA20,D-10_MA60,D-10_MA120,...,D-1_VIpos,D-1_ROC,D-1_MFI,D-1_KCW,D-1_BBP,D-1_KST,D-1_DCW,D-1_SRSID,D-1_PPOhist,NextChange
550417,20140407,00781K,0.029228,0.029228,-0.039666,-0.037578,-0.011065,-0.049791,-0.123152,-0.078121,...,1.00300,-2.30130,37.018,8.8543,0.56774,79.951,8.6142,0.14311,-0.544920,1.71
550418,20140408,00781K,0.002169,0.040130,-0.003254,0.017354,0.026030,-0.008134,-0.086161,-0.043557,...,1.05640,-0.62762,48.504,8.7864,0.79536,76.356,6.8706,0.26543,-0.385970,0.95
550419,20140409,00781K,-0.015991,-0.004264,-0.024520,-0.013859,0.001919,-0.021215,-0.099510,-0.061215,...,1.04350,0.10438,52.456,8.2483,0.88694,72.481,6.8552,0.38684,-0.223770,2.40
550420,20140410,00781K,0.009730,0.011892,-0.018378,0.006486,0.010595,-0.002746,-0.084368,-0.049405,...,1.02770,6.50760,60.181,8.2501,1.09960,72.184,9.7945,0.53046,0.026724,0.51
550421,20140411,00781K,0.007519,0.007519,-0.016112,0.002148,-0.001289,-0.004554,-0.087583,-0.056907,...,1.02350,5.22390,58.225,8.7501,1.07070,71.886,9.7365,0.66778,0.195450,3.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
798027,20151217,00781K,0.001653,0.057851,0.001653,0.006612,-0.006281,0.023471,0.083752,0.101901,...,0.93773,0.00000,64.126,10.2080,0.31141,-56.073,17.4570,0.38172,-0.013708,-0.50
798028,20151218,00781K,0.047619,0.047619,-0.014778,-0.011494,-0.011494,0.014039,0.074663,0.097044,...,0.97059,0.16807,70.915,10.4920,0.28031,-54.801,17.4950,0.41502,-0.012175,-0.34
798029,20151221,00781K,0.013289,0.071429,-0.011628,0.038206,0.008638,0.026495,0.085963,0.111412,...,0.99450,-1.81820,74.443,10.7110,0.26864,-51.240,17.5180,0.44282,-0.017214,0.67
798030,20151222,00781K,-0.011200,0.038400,-0.024000,0.027200,-0.013440,-0.009920,0.045440,0.071552,...,0.99446,-1.80620,79.290,11.0440,0.35623,-49.645,17.5960,0.42600,0.037438,-1.34
798031,20151223,00781K,0.000000,0.059190,-0.045171,-0.042056,-0.036449,-0.037695,0.014019,0.042726,...,0.99615,-1.99340,70.414,10.9700,0.24083,-51.123,17.7490,0.39469,-0.000454,0.00

In [100]:
d1215.head()

,date,code,D-10_open,D-10_high,D-10_low,D-10_close,D-10_MA5,D-10_MA20,D-10_MA60,D-10_MA120,...,D-1_VIpos,D-1_ROC,D-1_MFI,D-1_KCW,D-1_BBP,D-1_KST,D-1_DCW,D-1_SRSID,D-1_PPOhist,NextChange
0,20120102,16385,-0.023573,0.009925,-0.028537,0.009925,0.000495,-0.023078,-0.029591,0.049886,...,1.14440,3.97020,86.354,6.6468,0.89682,53.341,13.812,1.000000,0.289370,-1.43
1,20120103,16385,0.000000,0.000000,0.000000,0.000000,-0.005897,-0.028194,-0.039292,0.038472,...,1.03640,2.48130,81.469,6.2073,0.70124,53.597,13.308,0.912360,0.155670,-0.61
2,20120104,16385,0.000000,0.007372,0.000000,0.007372,-0.002457,-0.023772,-0.039374,0.037335,...,1.12840,1.86100,78.376,6.1898,0.60901,53.290,13.296,0.713610,0.012119,-0.24
3,20120105,16385,-0.001220,0.000000,-0.001220,0.000000,-0.006342,-0.027135,-0.046504,0.028606,...,1.09180,0.61427,77.885,5.9693,0.55773,53.453,13.298,0.403750,-0.106770,-0.24
4,20120110,16385,-0.002440,0.012194,-0.002440,0.012194,0.000975,-0.019270,-0.046993,0.026299,...,0.95562,-2.43910,77.505,5.9335,0.13632,51.280,15.881,0.023473,-0.398300,0.00

In [105]:
type(d1215['code'][0])
d1215['code'].dtype
type(d1215['date'][0])
type(d1215['D-10_open'][0])

int

CategoricalDtype(categories=[      20,       30,       40,       50,       60,       70,
                        75,       80,       87,      100,
                  ...
                  '036530', '041460', '052900', '069260', '085660', '085670',
                  '123410', '126600', '126640', '18064K'],
, ordered=False)

numpy.int64

numpy.float64

In [12]:
d1215.to_feather('d1215.ftr')

# inhovation code

In [ ]:
from multiprocessing import Pool
import multiprocessing
import itertools
start_time=time.time()
processes = 30

# 멀티프로세싱 argument 생성
# IF = open(file_name, 'r')
# args_list=[]
# for i,row in enumerate(IF):
#     code = row.split('\n')[0]
#     args_list.append([code, fold, mode])
# IF.close()

result = []
# 멀티프로세싱 진행
pool = multiprocessing.Pool(processes = processes)
for data in pool.starmap(a1214, args_list ): # 각 코어에 입력값들을 병렬 처리
    result+=data
pool.close() # 멀티 프로세싱 종료
pool.join()


print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
D_pred_train = D_model.predict(X_train)
D_pred_test = D_model.predict(X_test)

# 하이퍼 파라미터 조정

In [175]:
a2015.shape
X_test.shape
pred_test.shape

(314361, 823)

(314361, 820)

(314361,)

In [130]:
sum(sum(a2015 == 'NaN')) # arr로는 NaN 해결 안될 것 같음. 따로 구글링 안함.

0