In [1]:
import random

[dataframe 행을 무작위로 섞는 방법](https://www.delftstack.com/ko/howto/python-pandas/how-to-randomly-shuffle-dataframe-rows-in-pandas/) <br>
[df.sample(frac=1)](https://rateye.tistory.com/732) <br>
[random_state 외에도 기타 sample의 하이퍼파라미터들](https://rfriend.tistory.com/602)

In [30]:
import pandas as pd

In [9]:
pd.DataFrame({'a' : [1,2,3,4],
            'b' : [3,4,5,6],
            'c' : [5,6,7,8],
            'd' : [7,8,9,0],
            'e' : [4,8,3,9]})

   a  b  c  d  e
0  1  3  5  7  4
1  2  4  6  8  8
2  3  5  7  9  3
3  4  6  8  0  9

In [31]:
df = pd.DataFrame([[1,2,3],
              [4,5,6],
              [7,8,9],
              [0,2,4],
              [4,8,3],
              [6,9,5]])

In [29]:
(df[:3]).sample(frac=1)

   0  1  2
1  4  5  6
2  7  8  9
0  1  2  3

In [31]:
df.sample(frac=1).reset_index(drop=True) # reset_index한 거

   0  1  2
0  0  2  4
1  4  8  3
2  7  8  9
3  1  2  3
4  6  9  5
5  4  5  6

In [33]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
3  0  2  4
4  4  8  3
5  6  9  5

In [32]:
len(df)

6

# sample(frac=1, random_state = ???)

In [33]:
df.sample(frac=1, random_state = 1) # random_state 지정해주면 매번 같은 결과 나옴.

   0  1  2
2  7  8  9
1  4  5  6
4  4  8  3
0  1  2  3
3  0  2  4
5  6  9  5

In [8]:
len_a2012 = 284412
len_a2013 = 242826
len_a2014 = 242448
len_a2015 = 314361
len_a2016 = 263593
len_a2017 = 216591
len_a2018 = 307395
len_a2019 = 278610
len_a2020 = 371006
len_a2021 = 321808

# random.shuffle (train끼리 idx 같아야 하므로)

In [20]:
random.seed(0) # seed 고정
train_idx = list(range(len_a2015))
random.shuffle(train_idx)

In [39]:
random.seed(0)
a = [0,1,2,3,4,5]
random.shuffle(a)
a

[4, 2, 1, 0, 5, 3]

In [40]:
df.iloc[a]

   0  1  2
4  4  8  3
2  7  8  9
1  4  5  6
0  1  2  3
5  6  9  5
3  0  2  4