In [15]:
import pandas as pd
import FinanceDataReader as fdr

In [35]:
상장 = fdr.StockListing('NYSE')   # 뉴욕거래소 fdr.StockListing('KOSPI') # 코스피

100%|██████████████████████████████████████| 3429/3429 [00:05<00:00, 578.07it/s]

In [32]:
상장

,Symbol,Name,Sector,Industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,AOS,A. O. Smith,Industrials,Building Products
2,ABT,Abbott,Health Care,Health Care Equipment
3,ABBV,AbbVie,Health Care,Pharmaceuticals
4,ABMD,Abiomed,Health Care,Health Care Equipment
...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
501,ZION,Zions Bancorporation,Financials,Regional Banks
502,ZTS,Zoetis,Health Care,Pharmaceuticals

In [27]:
상장.sort_values(by = 'ListingDate')

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
2019,000050,KOSPI,경방,종합 소매업,"섬유류(면사,면혼방사,면직물,면혼방직물,화섬사,화섬직물) 제조,도매,수출입",1956-03-03,12월,"김준, 김담",http://www.kyungbang.co.kr,서울특별시
5248,000700,KOSPI,유수홀딩스,회사 본부 및 경영 컨설팅 서비스업,지주사업,1956-03-03,12월,송영규,http://www.eusu-holdings.com,서울특별시
7676,003480,KOSPI,한진중공업홀딩스,연료용 가스 제조 및 배관공급업,지주회사,1956-03-03,12월,"조남호, 조원국",http://www.hhic-holdings.com,경기도
2601,000060,KOSPI,메리츠화재,보험업,"손해보험(화재,해상,운송보험)",1956-07-02,12월,김용범,http://www.meritzfire.com,서울특별시
66,000120,KOSPI,CJ대한통운,도로 화물 운송업,"Contract Logistics, 포워딩, 항만하역, 해운, 택배국제특송, SCM...",1956-07-02,12월,"강신호,민영학(각자대표)",http://www.cjlogistics.com,서울특별시
...,...,...,...,...,...,...,...,...,...,...
7769,008775,KOSPI,호텔신라우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7817,000547,KOSPI,흥국화재2우B,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7818,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7821,419890,KOSPI,히어로즈 단기채권ESG액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7822,429870,KOSPI,히어로즈 리츠이지스액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [8]:
start_date = '20210303'
end_date = '20211231'

fdr.DataReader('005930') # , start = start_date, end = end_date

             Open   High    Low  Close    Volume    Change
Date
1998-04-20   1243   1269   1227   1262    152470       NaN
1998-04-21   1279   1318   1252   1294    310010  0.025357
1998-04-22   1294   1314   1276   1282    324140 -0.009274
1998-04-23   1279   1279   1238   1271    212640 -0.008580
1998-04-24   1270   1288   1239   1240    381180 -0.024390
...           ...    ...    ...    ...       ...       ...
2022-06-16  61300  61800  60500  60900  23394895  0.003295
2022-06-17  59400  59900  59400  59800  29053450 -0.018062
2022-06-20  59800  59900  58100  58700  34111306 -0.018395
2022-06-21  58700  59200  58200  58500  25148109 -0.003407
2022-06-22  59000  59100  57600  57600  22906785 -0.015385

[6000 rows x 6 columns]

In [7]:
start_date = '19560303'
end_date = '19601231'

fdr.DataReader('KS11') # , start = start_date, end = end_date

JSONDecodeError: Expecting value: line 1 column 1 (char 0)