# 다 하고나서야 readlines 써야하는게 생각났다.....
<br>왜............

# Library

In [215]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import os
import FinanceDataReader as fdr

import datetime as dt

import numpy as np

from tqdm import tqdm #진행바

In [216]:
# GPU
import tensorflow as tf

#https://www.tensorflow.org/guide/gpu#allowing_gpu_memory_growth
#프로세스의 요구량만큼 메모리 사용 설정
gpus = tf.config.experimental.list_physical_devices('GPU')
print(gpus)
if gpus:
    try:
        for i in range(len(gpus)):
            tf.config.experimental.set_memory_growth(gpus[i], True)
    except RuntimeError as e:
        # 프로그램 시작시에 메모리 증가가 설정되어야만 합니다
        print(e)
        
#지정해서 쓰고 싶으면 model 쓸 때는 with 구문 안에 넣기

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU'), PhysicalDevice(name='/physical_device:GPU:1', device_type='GPU')]

# 확인 cell

In [157]:
ans = pd.read_csv('stock_2018_10days.csv')
ans
ans['Date'].nunique()
ans['Code'].nunique()
ans['Code'].unique()

,Code,Date,D-9_Open,D-9_High,D-9_Low,D-9_Close,D-9_Volume,D-9_Trading_Value,D-9_Change,D-9_MA5,...,D0_TSI,D0_UO,D0_SR,D0_WR,D0_AO,D0_KAMA,D0_ROC,D0_PPO,D0_PVO,Next_change
0,50120,2018-01-15,10250,12050,10150,11800,26086769,307823874200,0.145631,10108.0,...,29.3225,45.3787,63.9228,-36.07720,3645.880000,11858.8,68.67470,12.32460,38.8520,-0.068182
1,50120,2018-01-16,11950,12450,10900,11750,20460474,240410569500,-0.004237,10538.0,...,28.0689,45.6406,53.2520,-46.74800,3980.740000,11947.6,47.78580,12.29020,30.6275,-0.188153
2,50120,2018-01-17,11850,14150,11600,12600,60663854,764364560400,0.072340,11232.0,...,22.3139,41.0354,25.8130,-74.18700,3687.650000,11946.2,13.10680,10.44330,23.7000,0.047210
3,50120,2018-01-18,12800,13200,12000,12200,13935258,170010147600,-0.031746,11730.0,...,18.8794,41.3833,28.8725,-71.12750,2987.650000,11947.9,3.38983,9.22399,17.4172,0.012295
4,50120,2018-01-19,12450,13400,12350,12850,16471707,211661434950,0.053279,12240.0,...,16.5383,33.5502,25.0000,-75.00000,2637.350000,11949.9,5.10638,8.26069,12.6972,0.137652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2532,11760,2018-05-15,21400,24100,20800,22400,1488904,33351449600,0.095354,20830.0,...,56.6722,68.0251,84.6369,-15.36310,6866.910000,27722.5,74.93730,13.01120,68.4751,-0.097421
2533,11760,2018-05-17,23500,23850,21950,22350,489326,10936436100,-0.064854,22040.0,...,54.5403,64.0099,85.1942,-14.80580,10338.970588,29517.6,83.12960,15.48880,67.1178,0.028037
2534,11760,2018-06-07,41650,41900,37000,38800,1305256,50643932800,-0.058252,39190.0,...,29.5457,49.8274,70.6329,-29.36710,10088.100000,36598.8,11.81820,13.02900,17.8270,-0.001161
2535,11760,2018-06-11,40500,41300,40050,41300,712521,29427117300,0.298742,38620.0,...,31.8637,53.8917,95.8333,-4.16667,10979.700000,39093.7,20.87380,13.90680,19.4140,-0.038153
2536,11760,2018-06-12,42650,44650,39500,40700,2115221,86089494700,-0.014528,38760.0,...,32.4200,52.7160,75.5020,-24.49800,12323.800000,39605.8,23.45360,14.10110,25.2156,-0.155532

235

239

array([ 50120,  67290,  36120,  78130,  95660,   7390, 203650, 196490,
        78160,  68940,  21080, 101400,  49480,  65950,  36090,  52300,
        42040,  82660, 102940, 200230, 203690,  48410,  39610,  90710,
        67630,  14200,  91590, 104040,  45390,  85370, 220630, 133750,
        65650,  59210,  38500,  17510, 101390,  52420,  66590,  48530,
        23440, 114120, 191420,  66700,  53300, 184230,  14570,  90360,
        36630,  97780,  69080,  24810,  49630,  47820, 224060,  99220,
         6920,  53030,  86040,    250, 222080,  46120,  33100,  65060,
       192250, 217600,  29960,  34230,  28300,  47920,  38290, 225530,
        78860,  53800, 193250,  11320,   1840,  68330,  41460,  64240,
       214270,  35900,  33640,  60570,  90460,  65450,  38070,  61970,
        95190,  95700, 166480,  54780,  58820, 114450,  19550,  68240,
        27830,  92600,  52020,  86520,  32820,  41190,  23410, 147830,
       204840,  36170,  84990,  48470,  66410,   6910,  35890,  68760,
        25980, 119830, 109610,  39200, 215380,  14190,  43910,   7370,
        85660,  39420,  81150,   9520,  94940,  32860,    210,  11200,
        92220,  11070,  10060,  96770,   2100,   8350,  17180,   6400,
        28050,  55550,  81000,   1550,   5490,   9460,    720,  42670,
        17800,    120, 105560,   2760,   2700,  19170,  90430,  36570,
         3520, 161890,   9420,   8770,   6360,   1060,  66570,  73240,
         8970,  27740,  18260,  16360,   6980, 139480,  15760,  47810,
        12450,  86280,  51900,  51910,  35420,   2360,   1510,  69620,
         1440,  11170,  11390,   4770,   8250,   6490,   1020,   4020,
        34220,  10950,    660,    270,  25860,   8420,   9150,   7540,
         9270,    100,  84680,  10820,   6390,   3010,  32640,   6340,
         2210,  10140,  91090,   1780,   4720,  90080,  25750,  12330,
        81660,  26890,   4170,   8700,   2630,  74610,   7110,  20150,
        21240,   5690, 128940,   4310,  57050,  96760,  33180,   4540,
         3580,  25560,    890,  30790,  28260,   5930,   1820,   4980,
        10050,  86790, 180640,   5440,  64350,   5380,  11760])

# Data Load

In [4]:
data = pd.read_csv('toy_data.csv')
data

,Unnamed: 0,Code,Date,Open,High,Low,Close,Volume,Trading Value,Change,...,SRSI,TSI,UO,SR,WR,AO,KAMA,ROC,PPO,PVO
0,0,50120,2017-01-02,8670,8700,8350,8500,27604,2.346340e+08,-0.003517,...,0.420119,6.054658,46.546853,66.315789,-33.684211,322.058824,8388.891099,3.030303,0.580606,-25.128944
1,1,50120,2017-01-03,8450,8570,8370,8450,96778,8.177741e+08,-0.005882,...,0.268381,5.834392,41.487296,50.666667,-49.333333,285.441176,8392.247294,0.835322,0.536595,-21.342577
2,2,50120,2017-01-04,8450,8800,8450,8580,140261,1.203439e+09,0.015385,...,0.613338,6.903743,37.201158,68.000000,-32.000000,287.205882,8407.797058,3.623188,0.618615,-14.106327
3,3,50120,2017-01-05,8600,8720,8520,8630,136715,1.179850e+09,0.005828,...,0.737522,8.271736,36.946597,74.666667,-25.333333,275.441176,8417.688366,4.860267,0.722506,-8.848223
4,4,50120,2017-01-06,8700,9000,8570,8750,154445,1.351394e+09,0.013905,...,1.000000,10.564181,40.860079,73.118280,-26.881720,312.205882,8434.210452,6.060606,0.907549,-3.419564
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,994,50120,2021-02-08,4225,4230,4025,4060,123477,5.013166e+08,-0.039053,...,0.340586,-50.325023,39.173446,9.625668,-90.374332,-1123.014706,4301.208832,-26.846847,-8.677780,-52.918319
995,995,50120,2021-02-09,4045,4080,4020,4040,61608,2.488963e+08,-0.004926,...,0.337041,-50.927205,44.621096,8.556150,-91.443850,-1080.191176,4249.966127,-27.728086,-8.962919,-55.737092
996,996,50120,2021-02-10,4035,4040,3945,3985,203913,8.125933e+08,-0.013614,...,0.310638,-51.640979,40.746174,5.614973,-94.385027,-1096.117647,4202.732584,-24.811321,-9.205601,-55.175256
997,997,50120,2021-02-15,4000,4130,3980,4130,89946,3.714770e+08,0.036386,...,0.842617,-50.243156,43.334524,13.368984,-86.631016,-1103.764706,4198.913448,-20.423892,-9.050603,-56.984739
998,998,50120,2021-02-16,4150,4460,4140,4325,136335,5.896489e+08,0.047215,...,1.000000,-46.556391,43.479278,30.067568,-69.932432,-1059.852941,4203.798162,-13.152610,-8.482188,-57.364681

# data processing

In [10]:
data = data.drop('Unnamed: 0', axis=1)

In [48]:
data.iloc[:,0]

0      50120
1      50120
2      50120
3      50120
4      50120
       ...
994    50120
995    50120
996    50120
997    50120
998    50120
Name: Code, Length: 999, dtype: int64

In [60]:
col_arr = data.columns.values
col_arr
# 설명_idx = np.where(col_arr == 'Open')[0][0] # 설명변수 열 시작 idx
# 설명 idx 필요 없음, 식별변수 필요해서 0부터 써야함.
목적_idx = np.where(col_arr == 'Next Change')[0][0] # 목적변수 열 idx

x = pd.concat([data.iloc[:, 0:목적_idx], data.iloc[:,목적_idx+1:]], axis = 1)
y = pd.concat([data.iloc[:, 0:2], data[['Next Change']]], axis = 1)

array(['Code', 'Date', 'Open', 'High', 'Low', 'Close', 'Volume',
       'Trading Value', 'Change', 'Next Change', 'MA5', 'MA20', 'MA60',
       'MA120', 'MFI', 'ADI', 'OBV', 'CMF', 'FI', 'EOM, EMV', 'VPT',
       'NVI', 'VMAP', 'ATR', 'BHB', 'BLB', 'KCH', 'KCL', 'KCM', 'DCH',
       'DCL', 'DCM', 'UI', 'SMA', 'EMA', 'WMA', 'MACD', 'ADX', '"-VI"',
       '"+VI"', 'TRIX', 'MI', 'CCI', 'DPO', 'KST', 'Ichimoku',
       'Parabolic SAR', 'STC', 'RSI', 'SRSI', 'TSI', 'UO', 'SR', 'WR',
       'AO', 'KAMA', 'ROC', 'PPO', 'PVO'], dtype=object)

In [139]:
# (x[['Trading Value']] >= 1000_0000_0000).sum() #81
천억 = x[x['Trading Value'] >= 1000_0000_0000]
천억

,Code,Date,Open,High,Low,Close,Volume,Trading Value,Change,MA5,...,SRSI,TSI,UO,SR,WR,AO,KAMA,ROC,PPO,PVO
52,50120,2017-03-20,9720,11820,9700,10650,10610807,1.130050e+11,0.094553,9568,...,1.000000,17.295684,55.563856,61.258278,-38.741722,311.176471,9638.641976,15.760870,1.886462,91.776848
235,50120,2017-12-18,8080,10400,8070,10150,24543676,2.491180e+11,0.257745,8550,...,1.000000,12.182682,64.271858,89.495798,-10.504202,-3.911765,8639.719713,14.301802,1.346647,92.211442
236,50120,2017-12-19,9470,12600,8540,10150,97292738,9.875210e+11,0.000000,8950,...,1.000000,21.583960,52.304621,46.506550,-53.493450,390.441176,8860.744841,13.407821,2.650934,100.932652
237,50120,2017-12-20,10600,13150,10150,11900,101347442,1.206030e+12,0.172414,9700,...,1.000000,35.577019,54.512546,75.633528,-24.366472,990.852941,9613.408828,39.018692,5.132246,94.940689
238,50120,2017-12-21,11900,12200,10200,10650,19607153,2.088160e+11,-0.105042,10184,...,0.585038,34.499494,50.015988,51.267057,-48.732943,1511.558824,9700.067587,23.121387,5.862305,80.789139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,50120,2020-06-26,12450,12600,11200,11550,11484684,1.326480e+11,-0.049383,11910,...,0.303112,23.100218,47.717520,50.000000,-50.000000,2038.088235,10457.917980,-2.531646,7.665593,29.420878
864,50120,2020-07-13,11050,11250,9550,9550,27517670,2.627940e+11,-0.015464,9672,...,0.000000,-2.099743,27.018966,4.605263,-95.394737,-383.794118,9900.775843,-21.399177,-0.768474,-6.388319
865,50120,2020-07-14,9050,9130,8150,8280,23218104,1.922460e+11,-0.132984,9348,...,0.000000,-6.134648,19.709527,2.260870,-97.739130,-676.088235,9589.153147,-28.311688,-2.125402,4.883684
868,50120,2020-07-17,8020,9050,8020,8370,16894301,1.414050e+11,0.035891,8476,...,0.232191,-14.486874,25.427073,18.873239,-81.126761,-1529.176471,8892.102020,-17.128713,-4.800376,4.798095
955,50120,2020-11-24,5820,6930,5820,6330,24326906,1.539890e+11,0.091379,5992,...,1.000000,5.651440,49.161824,63.190184,-36.809816,175.911765,5909.885923,12.234043,0.704549,59.880831

In [122]:
# # str to datetime..... 여기 지나고 x에서 idx 찾은 다음에 해야함... ==> 안필요할듯
# for idx,i in enumerate(천억['Date']):
# # 확인
# #     type(천억['Date'].iloc[0])

# # type 변환
# #     천억[천억['Date']==i]['Date']
# #     i # = datetime~으로 바꾸려해도 바뀌지 않음.
#     천억['Date'].iloc[idx] = dt.datetime.strptime(i,"%Y-%m-%d").date()

# # 확인
# #     type(천억['Date'].iloc[0])
# #     break

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [140]:
천억['Date'].nunique()
need_date = list(np.sort(천억['Date'].unique()))

81

In [152]:
# # 거래일로 해야해서 이 cell처럼 하면 안되고 x에서 need_date에 대한 idx 찾아서 인덱싱으로 해야함.
# for i in need_date:
#     for j in range(9, -1, -1):
#         i - dt.timedelta(j) # D9~D0순으로 생성됨
#     break

In [196]:
# 이게 되네.....?
for j in range(9):
    [f'D-{j}_{ori_col}' for ori_col in x[x['Date']==i].iloc[:,2:].columns]

['D-0_Open',
 'D-0_High',
 'D-0_Low',
 'D-0_Close',
 'D-0_Volume',
 'D-0_Trading Value',
 'D-0_Change',
 'D-0_MA5',
 'D-0_MA20',
 'D-0_MA60',
 'D-0_MA120',
 'D-0_MFI',
 'D-0_ADI',
 'D-0_OBV',
 'D-0_CMF',
 'D-0_FI',
 'D-0_EOM, EMV',
 'D-0_VPT',
 'D-0_NVI',
 'D-0_VMAP',
 'D-0_ATR',
 'D-0_BHB',
 'D-0_BLB',
 'D-0_KCH',
 'D-0_KCL',
 'D-0_KCM',
 'D-0_DCH',
 'D-0_DCL',
 'D-0_DCM',
 'D-0_UI',
 'D-0_SMA',
 'D-0_EMA',
 'D-0_WMA',
 'D-0_MACD',
 'D-0_ADX',
 'D-0_"-VI"',
 'D-0_"+VI"',
 'D-0_TRIX',
 'D-0_MI',
 'D-0_CCI',
 'D-0_DPO',
 'D-0_KST',
 'D-0_Ichimoku',
 'D-0_Parabolic SAR',
 'D-0_STC',
 'D-0_RSI',
 'D-0_SRSI',
 'D-0_TSI',
 'D-0_UO',
 'D-0_SR',
 'D-0_WR',
 'D-0_AO',
 'D-0_KAMA',
 'D-0_ROC',
 'D-0_PPO',
 'D-0_PVO']

['D-1_Open',
 'D-1_High',
 'D-1_Low',
 'D-1_Close',
 'D-1_Volume',
 'D-1_Trading Value',
 'D-1_Change',
 'D-1_MA5',
 'D-1_MA20',
 'D-1_MA60',
 'D-1_MA120',
 'D-1_MFI',
 'D-1_ADI',
 'D-1_OBV',
 'D-1_CMF',
 'D-1_FI',
 'D-1_EOM, EMV',
 'D-1_VPT',
 'D-1_NVI',
 'D-1_VMAP',
 'D-1_ATR',
 'D-1_BHB',
 'D-1_BLB',
 'D-1_KCH',
 'D-1_KCL',
 'D-1_KCM',
 'D-1_DCH',
 'D-1_DCL',
 'D-1_DCM',
 'D-1_UI',
 'D-1_SMA',
 'D-1_EMA',
 'D-1_WMA',
 'D-1_MACD',
 'D-1_ADX',
 'D-1_"-VI"',
 'D-1_"+VI"',
 'D-1_TRIX',
 'D-1_MI',
 'D-1_CCI',
 'D-1_DPO',
 'D-1_KST',
 'D-1_Ichimoku',
 'D-1_Parabolic SAR',
 'D-1_STC',
 'D-1_RSI',
 'D-1_SRSI',
 'D-1_TSI',
 'D-1_UO',
 'D-1_SR',
 'D-1_WR',
 'D-1_AO',
 'D-1_KAMA',
 'D-1_ROC',
 'D-1_PPO',
 'D-1_PVO']

['D-2_Open',
 'D-2_High',
 'D-2_Low',
 'D-2_Close',
 'D-2_Volume',
 'D-2_Trading Value',
 'D-2_Change',
 'D-2_MA5',
 'D-2_MA20',
 'D-2_MA60',
 'D-2_MA120',
 'D-2_MFI',
 'D-2_ADI',
 'D-2_OBV',
 'D-2_CMF',
 'D-2_FI',
 'D-2_EOM, EMV',
 'D-2_VPT',
 'D-2_NVI',
 'D-2_VMAP',
 'D-2_ATR',
 'D-2_BHB',
 'D-2_BLB',
 'D-2_KCH',
 'D-2_KCL',
 'D-2_KCM',
 'D-2_DCH',
 'D-2_DCL',
 'D-2_DCM',
 'D-2_UI',
 'D-2_SMA',
 'D-2_EMA',
 'D-2_WMA',
 'D-2_MACD',
 'D-2_ADX',
 'D-2_"-VI"',
 'D-2_"+VI"',
 'D-2_TRIX',
 'D-2_MI',
 'D-2_CCI',
 'D-2_DPO',
 'D-2_KST',
 'D-2_Ichimoku',
 'D-2_Parabolic SAR',
 'D-2_STC',
 'D-2_RSI',
 'D-2_SRSI',
 'D-2_TSI',
 'D-2_UO',
 'D-2_SR',
 'D-2_WR',
 'D-2_AO',
 'D-2_KAMA',
 'D-2_ROC',
 'D-2_PPO',
 'D-2_PVO']

['D-3_Open',
 'D-3_High',
 'D-3_Low',
 'D-3_Close',
 'D-3_Volume',
 'D-3_Trading Value',
 'D-3_Change',
 'D-3_MA5',
 'D-3_MA20',
 'D-3_MA60',
 'D-3_MA120',
 'D-3_MFI',
 'D-3_ADI',
 'D-3_OBV',
 'D-3_CMF',
 'D-3_FI',
 'D-3_EOM, EMV',
 'D-3_VPT',
 'D-3_NVI',
 'D-3_VMAP',
 'D-3_ATR',
 'D-3_BHB',
 'D-3_BLB',
 'D-3_KCH',
 'D-3_KCL',
 'D-3_KCM',
 'D-3_DCH',
 'D-3_DCL',
 'D-3_DCM',
 'D-3_UI',
 'D-3_SMA',
 'D-3_EMA',
 'D-3_WMA',
 'D-3_MACD',
 'D-3_ADX',
 'D-3_"-VI"',
 'D-3_"+VI"',
 'D-3_TRIX',
 'D-3_MI',
 'D-3_CCI',
 'D-3_DPO',
 'D-3_KST',
 'D-3_Ichimoku',
 'D-3_Parabolic SAR',
 'D-3_STC',
 'D-3_RSI',
 'D-3_SRSI',
 'D-3_TSI',
 'D-3_UO',
 'D-3_SR',
 'D-3_WR',
 'D-3_AO',
 'D-3_KAMA',
 'D-3_ROC',
 'D-3_PPO',
 'D-3_PVO']

['D-4_Open',
 'D-4_High',
 'D-4_Low',
 'D-4_Close',
 'D-4_Volume',
 'D-4_Trading Value',
 'D-4_Change',
 'D-4_MA5',
 'D-4_MA20',
 'D-4_MA60',
 'D-4_MA120',
 'D-4_MFI',
 'D-4_ADI',
 'D-4_OBV',
 'D-4_CMF',
 'D-4_FI',
 'D-4_EOM, EMV',
 'D-4_VPT',
 'D-4_NVI',
 'D-4_VMAP',
 'D-4_ATR',
 'D-4_BHB',
 'D-4_BLB',
 'D-4_KCH',
 'D-4_KCL',
 'D-4_KCM',
 'D-4_DCH',
 'D-4_DCL',
 'D-4_DCM',
 'D-4_UI',
 'D-4_SMA',
 'D-4_EMA',
 'D-4_WMA',
 'D-4_MACD',
 'D-4_ADX',
 'D-4_"-VI"',
 'D-4_"+VI"',
 'D-4_TRIX',
 'D-4_MI',
 'D-4_CCI',
 'D-4_DPO',
 'D-4_KST',
 'D-4_Ichimoku',
 'D-4_Parabolic SAR',
 'D-4_STC',
 'D-4_RSI',
 'D-4_SRSI',
 'D-4_TSI',
 'D-4_UO',
 'D-4_SR',
 'D-4_WR',
 'D-4_AO',
 'D-4_KAMA',
 'D-4_ROC',
 'D-4_PPO',
 'D-4_PVO']

['D-5_Open',
 'D-5_High',
 'D-5_Low',
 'D-5_Close',
 'D-5_Volume',
 'D-5_Trading Value',
 'D-5_Change',
 'D-5_MA5',
 'D-5_MA20',
 'D-5_MA60',
 'D-5_MA120',
 'D-5_MFI',
 'D-5_ADI',
 'D-5_OBV',
 'D-5_CMF',
 'D-5_FI',
 'D-5_EOM, EMV',
 'D-5_VPT',
 'D-5_NVI',
 'D-5_VMAP',
 'D-5_ATR',
 'D-5_BHB',
 'D-5_BLB',
 'D-5_KCH',
 'D-5_KCL',
 'D-5_KCM',
 'D-5_DCH',
 'D-5_DCL',
 'D-5_DCM',
 'D-5_UI',
 'D-5_SMA',
 'D-5_EMA',
 'D-5_WMA',
 'D-5_MACD',
 'D-5_ADX',
 'D-5_"-VI"',
 'D-5_"+VI"',
 'D-5_TRIX',
 'D-5_MI',
 'D-5_CCI',
 'D-5_DPO',
 'D-5_KST',
 'D-5_Ichimoku',
 'D-5_Parabolic SAR',
 'D-5_STC',
 'D-5_RSI',
 'D-5_SRSI',
 'D-5_TSI',
 'D-5_UO',
 'D-5_SR',
 'D-5_WR',
 'D-5_AO',
 'D-5_KAMA',
 'D-5_ROC',
 'D-5_PPO',
 'D-5_PVO']

['D-6_Open',
 'D-6_High',
 'D-6_Low',
 'D-6_Close',
 'D-6_Volume',
 'D-6_Trading Value',
 'D-6_Change',
 'D-6_MA5',
 'D-6_MA20',
 'D-6_MA60',
 'D-6_MA120',
 'D-6_MFI',
 'D-6_ADI',
 'D-6_OBV',
 'D-6_CMF',
 'D-6_FI',
 'D-6_EOM, EMV',
 'D-6_VPT',
 'D-6_NVI',
 'D-6_VMAP',
 'D-6_ATR',
 'D-6_BHB',
 'D-6_BLB',
 'D-6_KCH',
 'D-6_KCL',
 'D-6_KCM',
 'D-6_DCH',
 'D-6_DCL',
 'D-6_DCM',
 'D-6_UI',
 'D-6_SMA',
 'D-6_EMA',
 'D-6_WMA',
 'D-6_MACD',
 'D-6_ADX',
 'D-6_"-VI"',
 'D-6_"+VI"',
 'D-6_TRIX',
 'D-6_MI',
 'D-6_CCI',
 'D-6_DPO',
 'D-6_KST',
 'D-6_Ichimoku',
 'D-6_Parabolic SAR',
 'D-6_STC',
 'D-6_RSI',
 'D-6_SRSI',
 'D-6_TSI',
 'D-6_UO',
 'D-6_SR',
 'D-6_WR',
 'D-6_AO',
 'D-6_KAMA',
 'D-6_ROC',
 'D-6_PPO',
 'D-6_PVO']

['D-7_Open',
 'D-7_High',
 'D-7_Low',
 'D-7_Close',
 'D-7_Volume',
 'D-7_Trading Value',
 'D-7_Change',
 'D-7_MA5',
 'D-7_MA20',
 'D-7_MA60',
 'D-7_MA120',
 'D-7_MFI',
 'D-7_ADI',
 'D-7_OBV',
 'D-7_CMF',
 'D-7_FI',
 'D-7_EOM, EMV',
 'D-7_VPT',
 'D-7_NVI',
 'D-7_VMAP',
 'D-7_ATR',
 'D-7_BHB',
 'D-7_BLB',
 'D-7_KCH',
 'D-7_KCL',
 'D-7_KCM',
 'D-7_DCH',
 'D-7_DCL',
 'D-7_DCM',
 'D-7_UI',
 'D-7_SMA',
 'D-7_EMA',
 'D-7_WMA',
 'D-7_MACD',
 'D-7_ADX',
 'D-7_"-VI"',
 'D-7_"+VI"',
 'D-7_TRIX',
 'D-7_MI',
 'D-7_CCI',
 'D-7_DPO',
 'D-7_KST',
 'D-7_Ichimoku',
 'D-7_Parabolic SAR',
 'D-7_STC',
 'D-7_RSI',
 'D-7_SRSI',
 'D-7_TSI',
 'D-7_UO',
 'D-7_SR',
 'D-7_WR',
 'D-7_AO',
 'D-7_KAMA',
 'D-7_ROC',
 'D-7_PPO',
 'D-7_PVO']

['D-8_Open',
 'D-8_High',
 'D-8_Low',
 'D-8_Close',
 'D-8_Volume',
 'D-8_Trading Value',
 'D-8_Change',
 'D-8_MA5',
 'D-8_MA20',
 'D-8_MA60',
 'D-8_MA120',
 'D-8_MFI',
 'D-8_ADI',
 'D-8_OBV',
 'D-8_CMF',
 'D-8_FI',
 'D-8_EOM, EMV',
 'D-8_VPT',
 'D-8_NVI',
 'D-8_VMAP',
 'D-8_ATR',
 'D-8_BHB',
 'D-8_BLB',
 'D-8_KCH',
 'D-8_KCL',
 'D-8_KCM',
 'D-8_DCH',
 'D-8_DCL',
 'D-8_DCM',
 'D-8_UI',
 'D-8_SMA',
 'D-8_EMA',
 'D-8_WMA',
 'D-8_MACD',
 'D-8_ADX',
 'D-8_"-VI"',
 'D-8_"+VI"',
 'D-8_TRIX',
 'D-8_MI',
 'D-8_CCI',
 'D-8_DPO',
 'D-8_KST',
 'D-8_Ichimoku',
 'D-8_Parabolic SAR',
 'D-8_STC',
 'D-8_RSI',
 'D-8_SRSI',
 'D-8_TSI',
 'D-8_UO',
 'D-8_SR',
 'D-8_WR',
 'D-8_AO',
 'D-8_KAMA',
 'D-8_ROC',
 'D-8_PPO',
 'D-8_PVO']

In [228]:
# pd.DataFrame([x.iloc[:,0:2]])
pd.DataFrame([x.iloc[:,0:2].loc[52]])

     Code        Date
52  50120  2017-03-20

In [278]:
# dday_dic = {}
dday_alldf = pd.DataFrame()

for k,i in enumerate(need_date):
#     dday_lst = []
#     i
    idx = x[x['Date']==i].index
#     idx.values[0]
    dday_df = pd.DataFrame([x.iloc[:,0:2].loc[idx.values[0]]])
#     dday_df.reset_index(inplace = True)
    dday_df.rename(index = {idx.values[0] : i}, inplace = True)
#     dday_df
#     dday_df.drop('index', axis = 1, inplace = True)
    
    for j in range(9, -1, -1):
#         x['Date'][idx-j].values[0]

        tmp = x.iloc[idx-j].iloc[:,2:]
        tmp.columns = [f'D-{j}_{ori_col}' for ori_col in x[x['Date']==i].iloc[:,2:].columns]
        
        # index가 같아야 한 row에 들어갈 수 있음
#         tmp.reset_index(inplace = True)
#         tmp.set_index(i, inplace = True)
        tmp = tmp.rename(index = {idx.values[0]-j : i})
#         tmp.drop('index', axis=1, inplace = True)
#         tmp
#         break
        
#         dday_lst.append(x.iloc[idx-j].iloc[:,2:])
        dday_df = pd.concat([dday_df, tmp], axis = 1)
#         dday_df
    
#     dday_dic[k] = dday_lst
    dday_df = pd.concat([dday_df, y.iloc[idx]['Next Change'].rename(index = {idx.values[0]:i})], axis = 1)
    dday_alldf = pd.concat([dday_alldf, dday_df])
    
    break

In [276]:
y.iloc[[52]]
y.iloc[[52]]['Next Change'].rename(index = {52:y.iloc[52]['Date']})

     Code        Date  Next Change
52  50120  2017-03-20     0.030986

2017-03-20    0.030986
Name: Next Change, dtype: float64

In [279]:
# len(list(dday_dic.values())[0])
# for i in list(dday_dic.values())[0]:
#     i
#     break
# pd.DataFrame(list(dday_dic.values()))

dday_alldf

,Code,Date,D-9_Open,D-9_High,D-9_Low,D-9_Close,D-9_Volume,D-9_Trading Value,D-9_Change,D-9_MA5,...,D-0_TSI,D-0_UO,D-0_SR,D-0_WR,D-0_AO,D-0_KAMA,D-0_ROC,D-0_PPO,D-0_PVO,Next Change
2017-03-20,50120,2017-03-20,9100,9300,9070,9080,49175,446509000.0,-0.00765,9122,...,17.295684,55.563856,61.258278,-38.741722,311.176471,9638.641976,15.76087,1.886462,91.776848,0.030986