In [2]:
from tqdm import tqdm
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# CCI 직접 만들어보기
(성공했는지 여부는 확인 안함...)

# M_lst부터

In [3]:

# cd_dt_dic = {}
# x_df = []
# y_df = []
# minmax_idx = []
M_lst = []

f = open('stock_2018.csv')
lines = f.readlines()
for i, line in tqdm(enumerate(lines)):
    line = line.strip()
    lst = line.split(',')
    lst = lst[1:]
    
    if i == 0:
#         cd = lst.index('Code') # 0
#         dt = lst.index('Date') # 1
#         nc = lst.index('Next_Change') # 9
#         tv = lst.index('Trading_Value') # 7
#         ma = lst.index('MA20') # 11
        hi = lst.index('High') # 3
        lo = lst.index('Low') # 4
        cl = lst.index('Close') # 5
        
#         for mm in ['Open', 'High', 'Low', 'Close', 'MA5', 'MA20', 'MA60', 'MA120', 'VMAP', 'BHB', 'BLB', 'KCH', 'KCL', 'KCM', 'DCH', 'DCL', 'DCM','SMA', 'EMA', 'WMA', 'Ichimoku', 'Parabolic_SAR', 'KAMA','MACD']:
#             minmax_idx.append(lst.index(mm))
#         minmax_idx = sorted(minmax_idx)
    else:
        M = 0
        for i in (hi,lo,cl):
            M += float(lst[i])
        M_lst.append(M/3)
#         m = float(lst[ma])
#         d = abs(M-m)
#         d
#         break
#         cci =

380590it [00:01, 341846.68it/s]

In [23]:
N = 20
m_lst = []
# cnt = 0

for i in range(len(M_lst)):
    if i >= len(M_lst)-20:
#         cnt+=1
        pass
    else:
        m = sum(M_lst[i:i+N]) / N
        m_lst.append(m)

In [26]:
len(M_lst)
len(m_lst)
# m_lst[-1]
# cnt

380589

380589

0

In [25]:
m_lst.extend([0]*20)

In [35]:
import numpy as np
d_lst = []
for i in range(len(M_lst)):
    if i >= len(M_lst)-20:
        pass
    else:
        d = abs(sum(np.array(M_lst[i:i+N]) - np.array(m_lst[i:i+N]))) / N
        d_lst.append(d)

In [38]:
m_lst[:2]
d_lst[:2]
len(d_lst)

[13757.5, 14054.999999999996]

[991.5833333333343, 739.6250000000008]

380589

In [37]:
d_lst.extend([0]*20)

In [39]:
cci_lst = []
for i in range(len(M_lst)):
    if i >= len(M_lst)-20:
        pass
    else:
        cci = (M_lst[i]-m_lst[i]) / 0.015 * d_lst[i]
        cci_lst.append(cci)

In [46]:
len(cci_lst)
cci_lst.extend([0]*20)

380569

In [48]:
len(cci_lst)
max(cci_lst)

380589

26267508077020.98

# cci again with 참고 코드
[참고](https://superhky.tistory.com/321)

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(M_lst, columns = ['AP'])
df['SMA'] = df['AP'].rolling(20).mean()
df['ADV'] = df['AP'].rolling(20).apply(lambda x:pd.Series(x).mad())
df['CCI'] = (df['AP'] - df['SMA']) / (0.015 * df['ADV'])
df

                  AP          SMA         ADV         CCI
0       11333.333333          NaN         NaN         NaN
1       11700.000000          NaN         NaN         NaN
2       12783.333333          NaN         NaN         NaN
3       12466.666667          NaN         NaN         NaN
4       12866.666667          NaN         NaN         NaN
...              ...          ...         ...         ...
380584   4430.000000  4835.916667  158.916667 -170.284915
380585   4496.666667  4808.750000  162.958333 -127.674082
380586   4420.000000  4777.083333  165.958333 -143.442966
380587   4460.000000  4747.833333  169.933333 -112.920099
380588   4656.666667  4728.833333  161.950000  -29.707386

[380589 rows x 4 columns]

In [56]:
df['CCI'].max()
df['CCI'].min()

666.6666666666691

-666.6666666666692

# cci 저장 및 확인

In [57]:
# df.to_csv('CCI.csv', index = False)

In [58]:
pd.read_csv('CCI.csv')

                  AP          SMA         ADV         CCI
0       11333.333333          NaN         NaN         NaN
1       11700.000000          NaN         NaN         NaN
2       12783.333333          NaN         NaN         NaN
3       12466.666667          NaN         NaN         NaN
4       12866.666667          NaN         NaN         NaN
...              ...          ...         ...         ...
380584   4430.000000  4835.916667  158.916667 -170.284915
380585   4496.666667  4808.750000  162.958333 -127.674082
380586   4420.000000  4777.083333  165.958333 -143.442966
380587   4460.000000  4747.833333  169.933333 -112.920099
380588   4656.666667  4728.833333  161.950000  -29.707386

[380589 rows x 4 columns]

In [6]:
pd.read_csv('stock_2018.csv')

,Index,Code,Date,Open,High,Low,Close,Volume,Trading_Value,Change,...,SRSI,TSI,UO,SR,WR,AO,KAMA,ROC,PPO,PVO
0,243,50120,2018-01-02,10250,12050,10150,11800,26086769,307823874200,0.145631,...,0.617452,22.3595,45.6450,73.6842,-26.3158,1259.470,9897.76,44.78530,6.24021,42.05600
1,244,50120,2018-01-03,11950,12450,10900,11750,20460474,240410569500,-0.004237,...,0.606881,24.6104,44.5857,72.7096,-27.2904,1435.350,10067.00,44.17180,7.16213,36.42410
2,245,50120,2018-01-04,11850,14150,11600,12600,60663854,764364560400,0.072340,...,0.691669,27.8890,46.0102,74.7145,-25.2855,1988.650,10221.40,53.09840,8.40391,42.40620
3,246,50120,2018-01-05,12800,13200,12000,12200,13935258,170010147600,-0.031746,...,0.605418,28.9426,46.8657,67.9276,-32.0724,2473.210,10308.60,51.17720,8.92074,34.04080
4,247,50120,2018-01-08,12450,13400,12350,12850,16471707,211661434950,0.053279,...,0.670468,30.8389,48.7672,78.6184,-21.3816,2793.380,10359.80,26.60100,9.65555,27.63640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380584,1913939,540,2018-12-21,4480,4480,4330,4480,109164,489054720,0.000000,...,0.000000,-48.1839,40.9134,21.4286,-78.5714,-363.397,4592.44,-10.31030,-3.14961,2.96624
380585,1913940,540,2018-12-24,4480,4530,4440,4520,36973,167117960,0.008929,...,0.250801,-48.6931,47.1329,27.1429,-72.8571,-394.015,4580.40,-8.87097,-3.21322,3.55599
380586,1913941,540,2018-12-26,4515,4515,4275,4470,28747,128499090,-0.011062,...,0.177769,-49.7125,54.1570,27.2727,-72.7273,-422.632,4560.38,-7.83505,-3.31474,2.02404
380587,1913942,540,2018-12-27,4475,4500,4410,4470,20617,92157990,0.000000,...,0.291459,-50.5188,54.6350,28.4672,-71.5328,-430.515,4538.92,-6.58307,-3.35971,-1.25023
380588,1913943,540,2018-12-28,4500,4825,4440,4705,60012,282356460,0.052573,...,1.000000,-42.8563,62.2204,73.5043,-26.4957,-402.265,4540.78,-1.36268,-2.95350,5.69357

# FDR

In [8]:
import FinanceDataReader as fdr

In [26]:
# 한국거래소 상장종목 전체...
# 교수님 데이터는 KRX 전체인 것으로 판단...

df_krx = fdr.StockListing('KRX')
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [12]:
fdr.DataReader('005930', '2017')

             Open   High    Low  Close    Volume    Change
Date
2017-01-02  35980  36240  35880  36100     93012  0.001665
2017-01-03  36280  36620  36020  36480    147153  0.010526
2017-01-04  36500  36520  36100  36160    159435 -0.008772
2017-01-05  36060  36060  35540  35560    219349 -0.016593
2017-01-06  36180  36440  36040  36200    177619  0.017998
...           ...    ...    ...    ...       ...       ...
2022-03-24  69600  70300  69600  69800  37943357 -0.009929
2022-03-25  70100  70200  69600  69800  12986010  0.000000
2022-03-28  69500  69900  69200  69700  12619289 -0.001433
2022-03-29  70000  70300  69800  70200  13686208  0.007174
2022-03-30  70300  70500  69800  69900  12348445 -0.004274

[1287 rows x 6 columns]

## df2017

In [124]:
# 'ListingDate' 열 type str으로 바꾸기. (2017 판단 위해)
from datetime import datetime
df_krx1 = df_krx.copy()

# df_krx1['ListingDate'] = list(map(lambda x : x.strftime("%Y%m%d") if pd.notna(x) else x, df_krx1['ListingDate'])) #= #['Name']
df_krx1['ListingDate'] = list(map(lambda x : int(x.strftime("%Y")) if pd.notna(x) else x, df_krx1['ListingDate']))
df_krx1

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7926,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7927,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976,12월,이환구,http://www.heung-a.com,서울특별시
7928,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시
7929,419890,KOSPI,히어로즈 단기채권ESG액티브,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7930,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017,12월,김주환,http://www.hims.co.kr,인천광역시

In [132]:
len(list(df_krx1['Symbol'][df_krx1['ListingDate']<=2017].values)) # 1992
data2017 = list(df_krx1['Symbol'][df_krx1['ListingDate']<=2017].values)

1992

In [139]:
# 파일 저장 test
for cd in data2017:
#     print(f'{cd},', end = '')
    print(f'{cd}\n')

060310

095570

006840

054620

265520

211270

027410

282330

032790

138930

001460

013720

001040

079160

035760

000120

011150

097950

051500

058820

023460

056730

056000

065770

083660

000590

012030

016610

005830

000990

139130

001530

000210

001880

068790

004840

241520

155660

069730

017940

037370

278990

079190

050120

007700

214270

130500

114090

900290

078930

083450

006360

001250

007070

078150

012630

039570

089470

097230

028300

067630

047920

115450

011200

036640

082740

003560

095340

099520

175330

234080

067290

001060

096760

035900

024840

105560

024120

002380

021320

036670

009070

009440

112190

119650

044180

092220

151860

016380

046440

035600

001390

226360

111870

033180

060720

001940

122450

052900

058400

114450

025000

092230

000040

044450

030200

033780

030210

058850

058860

060370

093050

003550

034220

051900

032640

011070

066570

037560

051910

079550

006260

010120

000680

229640

108320

001120

108670

023150

035420

160550

053290

181710

104200

060250

005940

034310

030190

008260

004250

010060

024940

005490

218410

091340

010950

019550

950110

034120

046140

036120

099220

036540

040610

049470

184230

005090

016250

001380

004060

001770

002360

009160

123700

025530

034730

011790

018670

001740

006120

210980

068400

096770

001510

017670

000660

048550

063440

064960

100840

003570

036530

005610

011810

077970

071970

002820

084870

002710

089230

161570

192410

032540

048770

246690

002900

038340

073570

024070

057030

037270

040300

051390

052220

079940

078890

000500

036620

000860

217730

035250

114190

094480

011420

039240

053950

002100

009450

267290

012320

011040

000050

214390

012610

009140

024910

013580

012200

002140

198440

049720

010130

002240

014570

098460

035290

038530

900280

215000

121440

183410

076340

009290

014200

017040

029480

017900

037710

026910

030610

053270

007690

005320

001140

066620

043650

006050

060480

078130

002720

243870

083420

014530

900070

204620

019660

014280

053260

008870

001570

002990

011780

214330

001210

073240

036190

049080

035460

092440

000270

024110

013700

004540

187790

151910

121600

039860

091970

244880

051490

190510

242040

089600

138610

130580

036800

267320

001260

008350

004270

003920

025860

091590

168330

094860

212560

095660

042420

085910

092730

153460

007390

086220

033640

005720

002350

089140

065170

003580

137940

041140

217270

225570

251270

090350

000320

229500

106520

006280

142280

005250

065560

004370

072710

054050

069140

040160

126870

060260

012340

214870

144960

085670

119860

064260

093640

039560

058730

023590

032190

068240

145210

271850

019680

006370

008060

000490

178600

020400

008830

048470

008110

004780

005750

017650

006570

007720

078140

001680

084690

036480

128820

117580

025440

027830

104040

016710

020180

003540

045390

009190

108380

006580

014160

047040

009320

042660

003090

069620

007680

000430

048910

005710

006340

003220

024890

002880

000300

120240

003310

114920

078600

012800

015230

096350

140520

131220

010170

060900

054670

001070

023910

006650

001440

084010

001790

001130

003490

005880

003830

016090

069460

021040

067080

012510

213420

077360

004830

090410

024900

263600

194480

263800

199150

206560

261200

145720

227420

067990

002150

100130

005160

075970

001230

086450

023450

004140

099410

007590

005960

026960

002210

102260

033500

025950

000640

170900

088130

028100

282690

041930

001520

084670

082640

060380

079960

008970

228340

092780

088910

094170

049770

013120

018500

006040

030720

014820

163560

109860

032960

004890

002690

023790

005290

025900

000020

000150

241560

034020

016740

073190

176750

030350

203650

060570

217620

187870

066670

024090

003160

092200

078590

214680

263720

109740

131030

196490

066900

180400

127120

092070

039840

013570

219550

210540

104460

079810

113810

043360

068930

033130

105740

007340

187220

131180

042510

171120

069540

285770

115390

171010

084650

217500

092590

141080

060300

038390

228850

281740

179720

215100

090360

238500

900260

223220

067730

071280

032350

000400

023530

004000

280360

004990

005300

011170

002270

071840

038060

162120

085370

060240

058470

039980

019570

016100

012700

042500

027740

222810

098120

147760

038290

204320

001080

220630

267980

005990

127160

093520

088980

094800

067280

072870

215200

133750

200580

041920

233250

014100

236340

054180

086900

078160

065650

138040

008560

000060

021880

140410

241770

090370

059210

058110

096640

017180

267060

012690

005360

080420

080160

204210

100030

087260

101330

012860

250060

033200

009680

118990

006920

009580

001810

009200

033920

008420

095500

025560

218150

007120

085620

006800

208890

049950

207760

225850

002840

268280

107590

134380

003650

059090

201490

214180

155900

206640

018700

035620

064520

053030

064550

208710

142760

038460

281310

086040

199290

032980

043150

003610

001340

046310

035150

066410

002410

206400

019010

177350

096300

007210

225530

250000

002760

003850

006910

000890

226340

206950

003000

001270

026940

014470

011390

005030

008470

100120

064480

251630

018290

044480

033560

191600

121800

148140

082800

002070

100220

200780

141000

090460

083650

215050

086670

138580

082920

054220

042370

030790

032850

148780

093190

065450

210120

005180

072950

266170

143240

003960

008040

007160

014710

006090

100090

122350

014970

018310

053700

009620

023600

001470

006400

006660

028260

207940

032830

018260

028050

009150

005930

001360

010140

016360

068290

029780

000810

006110

009300

145990

003230

225190

002170

272550

000070

002810

054540

065570

005680

003720

023000

004380

002450

032280

002290

004440

000520

009770

037460

032750

054090

005500

000250

004690

024950

038500

017480

010960

046390

004450

009470

011230

001820

000390

027580

038540

101000

001290

041650

091580

263810

089980

042940

042600

075180

263540

007540

248170

038070

006730

079650

100660

007860

200880

019770

017390

043710

046890

004410

063170

027040

018680

021050

093920

189860

178320

122690

140070

011370

065710

008490

035890

003100

123420

007610

067370

171090

136490

014620

037350

014910

003080

004980

011300

081580

045300

015750

000180

080470

043260

002420

053060

017510

004360

004490

011560

001430

003030

019440

058650

052190

013000

100700

234100

024830

091090

021820

067830

033530

036630

039310

075580

067770

053450

027970

252500

012600

049180

108860

208370

258250

068760

091990

053110

032680

258790

066910

043100

154040

035610

036830

004430

086980

050960

017550

084180

185190

236200

094840

192440

099440

053210

033790

131100

159910

115570

258540

253450

204630

026890

013810

039670

049830

020710

033170

260870

048870

025320

134790

269620

131090

232830

139050

016590

029530

004970

001000

025870

215600

065350

011930

005390

004170

035510

034300

031430

031440

006880

002800

005800

001720

009270

017000

002700

012790

138070

019170

002870

055550

056700

187270

004080

243840

222800

036710

160980

102280

003410

010280

003620

004770

217320

208640

222420

037760

099320

015540

049960

050890

066790

222080

004920

236030

103660

245450

112610

115530

115480

096530

900120

101240

060590

260930

013990

123860

025980

008700

058220

002790

090430

052710

074430

092040

083930

149950

036010

002030

183190

002310

050860

012170

246720

067390

127710

020560

227610

143160

054800

122900

099190

214430

040910

068940

052860

010780

069920

038880

101390

078860

114810

090150

031310

185490

059100

149010

052460

119830

052770

124500

032080

013310

059120

067160

001540

053800

251280

065660

001780

131370

140670

096610

061040

148250

196170

123750

085810

117670

267810

161000

196300

900100

205500

052790

238090

092600

174900

255440

060230

030960

102120

238120

224810

019990

011090

136510

038680

217480

121890

097780

042110

065420

270210

103230

101490

095910

031330

050320

060540

056190

080000

086460

005850

214310

246250

041510

007820

109610

012750

224020

096630

069510

041910

234300

039440

098660

052020

237690

050760

058610

043340

023960

054630

200710

096690

140910

078520

195990

003800

088800

015260

234070

072990

044990

176440

043220

239610

044780

071670

045660

224110

230980

021080

089530

200470

109960

007460

003060

230240

230360

038870

086520

038110

073540

064090

036810

173940

083500

054940

950130

205100

070300

092870

067570

101400

036570

217820

031860

224760

208860

085310

182400

069410

227950

048830

096870

900140

061970

138690

066970

156100

073110

083310

037950

170920

058630

019590

225860

009780

123040

033160

033310

259630

065150

115960

090740

014440

007530

143540

111770

009970

003520

000670

036560

006740

012280

265560

012160

036000

250930

053280

015360

122640

900300

045060

080520

007310

039830

046120

014940

002630

065500

271560

001800

010470

053980

052420

241790

039200

031510

048260

138080

080580

067170

049480

057540

082210

109080

122990

232140

065530

067900

155650

251370

066430

193250

273060

019210

122870

011690

079000

070960

032820

041190

115440

118000

046970

082850

215360

072470

073560

153490

037400

010050

101170

006980

066590

017370

046940

215380

065680

105840

018620

049800

016880

095720

005820

032940

240810

074600

104830

014190

131390

030530

012620

216280

008370

008290

101160

095270

010600

065950

076080

196700

069080

071460

044340

112040

101730

140660

038620

036090

136540

097800

192390

008600

033270

014830

036200

018000

000910

047400

203450

011330

077500

011320

086390

241690

142210

121060

048430

206650

089850

084440

032620

264450

078070

002920

024800

000700

054930

069330

049520

003470

056090

263770

072130

000220

023410

056080

084370

001200

178780

221800

179900

000100

003460

191410

008730

072770

008250

039020

025820

067920

044960

214320

073490

215790

088390

272290

053350

258610

041520

264850

054210

065440

139480

115610

078020

131400

208850

080010

086890

007660

005950

015020

047560

900110

270020

067010

093230

102710

066980

074610

063760

123570

083470

095190

091120

232530

102460

039030

088290

084680

181340

035810

160600

092130

096040

134060

001840

000760

024810

014990

041830

101140

216400

079950

277410

060150

033230

006490

037330

023800

034590

083640

216050

049070

119610

017250

129260

240340

035080

051370

064290

189300

150840

048530

023810

175140

115310

039290

071200

016670

101930

249420

000230

013360

003120

068330

003200

007110

058450

007570

008500

019540

081000

020760

020150

103590

094820

015860

226320

950140

049550

254120

043910

234920

033240

174880

049630

000950

208140

022220

040420

045510

217190

095700

072520

066830

187420

123330

159580

147830

033100

079370

054950

090470

137950

033320

194370

026040

126880

033050

094970

058420

025620

089790

030000

052670

271980

001560

023440

038010

002620

080220

006220

089590

082270

064800

041590

044060

004910

004700

001550

000480

120030

034940

067000

018470

002600

185750

063160

001630

033340

036930

044380

239340

051980

072020

000440

078650

043610

263860

036180

208350

144510

051160

053050

119850

270520

065060

204840

013870

071320

135160

010580

035000

088790

018120

109820

086060

036890

003780

007370

010640

100250

051630

272450

011000

002780

233990

085660

009310

158310

094850

004650

000650

140290

066360

033250

047820

052300

094360

016920

035720

006380

071850

050110

223310

109070

900310

078340

063080

214370

221980

001620

192250

029460

115500

281820

089150

025880

093320

073010

105330

039420

083550

032500

225430

145270

036030

064820

256940

024880

042040

054410

217600

089010

220260

052400

046070

047770

078940

080530

224060

104540

027050

007810

101670

123410

003690

036690

049430

183300

041960

089890

009730

189350

082660

192820

044820

222040

241710

005070

005420

069110

071950

166480

045970

196450

029960

002020

003070

102940

120110

950160

138490

021240

033290

056360

121850

015710

052330

126600

200130

031820

192400

060280

015590

040350

051780

115180

182360

066310

136660

016600

264900

005740

096240

215570

043590

114120

900250

083790

045520

036170

214150

237880

139670

020120

039490

054780

219130

180060

065130

134580

014580

015890

006890

023160

003240

011280

053620

004100

116100

009410

044490

001420

007980

191420

073640

182690

066700

095610

131970

055490

089030

054450

091440

078000

200230

214420

215480

051360

045340

108230

079970

105550

026150

033830

057680

064760

131290

019180

062860

004870

104480

081150

130740

217880

084730

046210

058530

034230

033540

043200

214450

217950

005690

177830

037070

150900

047310

266870

170790

049120

038950

106240

131760

065690

140860

091700

202960

032800

036580

027710

004720

225590

054300

068050

028670

222110

010820

016800

263750

001020

087010

090080

010770

119500

022100

058430

009520

047050

189690

256630

141020

041020

114630

123010

005670

094940

007330

017810

093380

023900

103140

005810

220100

035200

203690

053610

053160

075130

222670

009810

023770

150440

032580

051380

241820

237750

024850

031980

002230

057880

043370

242350

137400

128660

006140

087600

161580

086790

067310

166090

039130

136480

003380

153360

149980

013030

126700

106080

071090

221840

106190

019490

000080

000140

066130

152550

004590

036460

039340

005430

071050

034950

010040

025540

222980

256840

004090

025550

002200

002960

017890

000240

123890

015760

063570

041460

006200

101680

039740

053300

025770

009540

023350

025890

000970

104700

017960

023760

054040

050540

161890

024720

021650

161390

053590

034830

007280

168490

037230

010100

047810

123690

003350

030520

052600

011500

002390

014790

092460

060980

053690

042700

008930

128940

047080

009240

020000

003680

105630

069640

016450

010420

009180

070590

213500

014680

004710

004150

025750

226440

042520

004960

011700

078350

045100

001750

018880

009420

014130

046110

024740

005860

123840

002220

006390

003300

007770

051600

052690

130660

107640

002320

003480

180640

005110

043090

079170

009460

086960

054920

002680

066110

000880

088350

000370

009830

012450

003530

195870

034810

076610

101530

220180

143210

900270

084990

000720

267270

170030

005440

086280

042670

064350

079430

012330

010620

048410

052260

069960

004560

004310

041440

039010

017800

011210

090850

267260

004020

267250

005380

001500

011760

227840

126560

001450

057050

092300

053660

138360

011080

093240

003010

111110

008770

060560

064240

039610

002460

241590

006060

013520

010690

126640

133820

061250

010660

000850

016580

032560

004800

094280

097870

093370

050090

081660

005870

090710

205470

115160

028080

032860

200670

212310

079980

065510

215090

005010

243070

084110

263920

145020

069260

024060

010240

189980

000540

003280

037440

238490

## 2017까지 상장한 기업 code 담긴 파일 저장

In [140]:
# with open('data2017.txt', 'w', encoding = 'UTF-8') as f:
#     for cd in data2017:
#         _ = f.write(f'{cd}\n')

## code 담긴 file load 해서 df 하나로 합치기 (df2017)

In [174]:
f = open(f'data2017.txt', 'r', encoding = 'utf-8')
lines = f.readlines()
df2017 = pd.DataFrame()
for line in lines:
    cd = line.strip()
    tmp = fdr.DataReader(cd, start = '2017-01-01', end = '2017-12-31')
#     tmp
#     tmp.index
    tmp_cd = pd.DataFrame([cd] * len(tmp))# pd.Series([cd] * len(tmp), name = 'Code')
    tmp_cd.index = tmp.index # 원랜 안해줘도 됐는데 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~.
    tmp_cd.columns = ['Code'] # 원랜 안해줘도 됐는데 이번엔 안해줬더니 이상하게 받길래... (axis 문제인지 확인해봤지만 아닌듯 보였음.)
#     tmp_cd
    
    # 옆으로 이어붙이기
    fin_tmp = pd.concat([tmp_cd, tmp], axis = 1) # 아니 axis = 1 안했을 때 왜 옆으로 들어간 것처럼 보여선 헷갈리게...
    
    # 아래로 이어붙이기, 이름 덮어써야 계속 이어붙음.
    df2017 = pd.concat([df2017, fin_tmp])

In [176]:
len(df2017)
df2017

470211

              Code   Open   High    Low  Close  Volume    Change
Date
2017-01-02  060310   2820   3035   2790   3000  478672  0.077199
2017-01-03  060310   3070   3070   2900   3030  309507  0.010000
2017-01-04  060310   3030   3095   2980   3090  248971  0.019802
2017-01-05  060310   3090   3300   3050   3090  928979  0.000000
2017-01-06  060310   3090   3095   3015   3015  202702 -0.024272
...            ...    ...    ...    ...    ...     ...       ...
2017-12-21  238490  12247  12322  11721  11746   63187 -0.033012
2017-12-22  238490  11821  12021  11320  12022   59108  0.023497
2017-12-26  238490  12021  12021  11771  11821   34625 -0.016719
2017-12-27  238490  11821  11996  11620  11796   46955 -0.002115
2017-12-28  238490  11871  12071  11821  11997   50542  0.017040

[470211 rows x 7 columns]

In [177]:
# df2017.to_csv('df2017.csv')

In [178]:
pd.read_csv('df2017.csv')

              Date    Code   Open   High    Low  Close  Volume    Change
0       2017-01-02   60310   2820   3035   2790   3000  478672  0.077199
1       2017-01-03   60310   3070   3070   2900   3030  309507  0.010000
2       2017-01-04   60310   3030   3095   2980   3090  248971  0.019802
3       2017-01-05   60310   3090   3300   3050   3090  928979  0.000000
4       2017-01-06   60310   3090   3095   3015   3015  202702 -0.024272
...            ...     ...    ...    ...    ...    ...     ...       ...
470206  2017-12-21  238490  12247  12322  11721  11746   63187 -0.033012
470207  2017-12-22  238490  11821  12021  11320  12022   59108  0.023497
470208  2017-12-26  238490  12021  12021  11771  11821   34625 -0.016719
470209  2017-12-27  238490  11821  11996  11620  11796   46955 -0.002115
470210  2017-12-28  238490  11871  12071  11821  11997   50542  0.017040

[470211 rows x 8 columns]

## 2017 M_lst (M_lst는 cci지수 만들 때 필요한 것.)

In [194]:
M_lst2017 = []

f = open('df2017.csv')
lines = f.readlines()
for i, line in tqdm(enumerate(lines)):
    line = line.strip()
    lst = line.split(',')
    
    if i == 0:
        hi = lst.index('High') # 3
        lo = lst.index('Low') # 4
        cl = lst.index('Close') # 5
    else:
        M = 0
        for i in (hi,lo,cl):
#             'i', i, 'lst[i]:', lst[i]
            M += int(lst[i])
        M_lst2017.append(M/3)

470212it [00:00, 666339.86it/s]

## 2017 CCI

In [195]:
cci2017 = pd.DataFrame(M_lst2017, columns = ['AP']) #M
cci2017['SMA'] = cci2017['AP'].rolling(20).mean() #m
cci2017['ADV'] = cci2017['AP'].rolling(20).apply(lambda x:pd.Series(x).mad()) #d
cci2017['CCI'] = (cci2017['AP'] - cci2017['SMA']) / (0.015 * cci2017['ADV']) #cci
cci2017

                  AP           SMA         ADV         CCI
0        2941.666667           NaN         NaN         NaN
1        3000.000000           NaN         NaN         NaN
2        3055.000000           NaN         NaN         NaN
3        3146.666667           NaN         NaN         NaN
4        3041.666667           NaN         NaN         NaN
...              ...           ...         ...         ...
470206  11929.666667  13111.183333  613.150000 -128.464124
470207  11787.666667  12987.633333  617.300000 -129.593031
470208  11871.000000  12854.466667  582.480000 -112.560851
470209  11804.000000  12725.883333  539.571667 -113.903106
470210  11963.000000  12638.250000  510.700000  -88.146988

[470211 rows x 4 columns]

In [196]:
# cci2017.to_csv('CCI2017.csv', index = False)

In [197]:
pd.read_csv('CCI2017.csv')

                  AP           SMA         ADV         CCI
0        2941.666667           NaN         NaN         NaN
1        3000.000000           NaN         NaN         NaN
2        3055.000000           NaN         NaN         NaN
3        3146.666667           NaN         NaN         NaN
4        3041.666667           NaN         NaN         NaN
...              ...           ...         ...         ...
470206  11929.666667  13111.183333  613.150000 -128.464124
470207  11787.666667  12987.633333  617.300000 -129.593031
470208  11871.000000  12854.466667  582.480000 -112.560851
470209  11804.000000  12725.883333  539.571667 -113.903106
470210  11963.000000  12638.250000  510.700000  -88.146988

[470211 rows x 4 columns]

# CCI 1718
* 17, 18 나눠서 하면 소용 없음;;;
* M_lst도 잘못됨. 위의 방식처럼 종목별로 안나눠서 하면 안됨...

# 아래는 test

In [64]:
# strftime test
df_krx1['ListingDate'][100].strftime("%Y-%m-%d")
type(df_krx1['ListingDate'][100])

'2017-10-31'

pandas._libs.tslibs.timestamps.Timestamp

In [115]:
# NaT 확인 test
import numpy as np
df_krx1['ListingDate'][6]== pd.NaT ######## 잘못됨
pd.isnull(df_krx1['ListingDate'][6]) ################ 정답 (원하던 결과)
pd.notnull(df_krx1['ListingDate'][6]) ################### 정답 (원하던 결과)
'#~~~%$^@$~~%&'
np.where(df_krx1['ListingDate'].isnull())
np.where(df_krx1['ListingDate'].isna())
np.where(df_krx1['ListingDate'].notnull())
np.where(df_krx1['ListingDate'].notna())
df_krx1['ListingDate'][:10]

False

True

False

'#~~~%$^@$~~%&'

(array([   6,    7,    8, ..., 7925, 7926, 7929]),)

(array([   6,    7,    8, ..., 7925, 7926, 7929]),)

(array([   0,    1,    2, ..., 7927, 7928, 7930]),)

(array([   0,    1,    2, ..., 7927, 7928, 7930]),)

0   2002-04-23
1   2015-08-21
2   1999-08-11
3   2001-12-04
4   2017-04-07
5   2016-03-04
6          NaT
7          NaT
8          NaT
9          NaT
Name: ListingDate, dtype: datetime64[ns]

In [95]:
# df_krx1[['ListingDate']].info()
# df_krx1[['ListingDate']].describe()
df_krx1[['ListingDate']].value_counts()

ListingDate
1996-07-03     8
1976-06-30     8
1999-12-21     7
1994-12-29     7
1996-12-24     7
              ..
2006-06-29     1
2006-06-27     1
2006-06-23     1
2006-06-08     1
2022-03-28     1
Length: 1857, dtype: int64