In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [35]:
df = pd.read_csv('add_BB_touch.csv')
df

,Code,Date,Open,High,Low,Close,Volume,Trading_Value,Change,Next_Change,...,WR,AO,KAMA,ROC,PPO,PVO,cci,Close_BB,CCI+-20,BB_only
0,20,2018-01-02,9750,9900,9700,9870,120676,1191072120,0.012308,0.013171,...,-22.77230,-790.294,9727.64,0.406918,-1.684990,-14.20070,0.909730,0,1,0.0
1,20,2018-01-03,9900,10250,9820,10000,268220,2682200000,0.013171,-0.025000,...,-21.55170,-618.559,9728.91,1.729400,-1.290220,-9.32307,60.848323,0,0,0.0
2,20,2018-01-04,10050,10050,9680,9750,161342,1573084500,-0.025000,0.016410,...,-43.10340,-499.647,9729.04,-1.015230,-1.171250,-9.88604,18.344160,0,1,0.0
3,20,2018-01-05,9750,9980,9750,9910,116604,1155545640,0.016410,0.004036,...,-29.31030,-371.735,9742.57,-0.800801,-0.933748,-12.21450,42.051362,0,0,1.0
4,20,2018-01-08,10000,10150,9940,9950,158326,1575343700,0.004036,-0.018090,...,-25.86210,-267.265,9756.55,2.471680,-0.704547,-12.15660,91.651788,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380584,950130,2018-12-21,3805,3805,3730,3765,48760,183581400,-0.010512,0.029216,...,-95.03550,-221.632,3979.72,-13.646800,-2.213360,25.62250,-176.943700,0,0,0.0
380585,950130,2018-12-24,3835,4010,3745,3875,105382,408355250,0.029216,0.000000,...,-79.43260,-224.897,3974.87,-8.175360,-2.210980,25.49830,-99.604559,0,0,0.0
380586,950130,2018-12-26,3875,3915,3700,3875,105045,407049375,0.000000,0.029677,...,-76.19050,-243.559,3970.82,-6.850960,-2.184810,24.94570,-108.409321,0,0,0.0
380587,950130,2018-12-27,4090,4090,3905,3990,97302,388234980,0.029677,0.073935,...,-45.28300,-216.588,3970.97,-1.359700,-1.907210,23.47480,-22.971286,0,0,0.5
380588,950130,2018-12-28,4085,4345,4005,4285,211014,904194990,0.073935,0.029171,...,-9.30233,-140.882,3981.43,6.459630,-1.075890,30.74780,77.062414,0,0,0.0

In [32]:
idx_lst = [] # tv >=100억인 인덱스를 뽑아놓고 그보다 앞 10개는 나중에 이 list를 for문 돌려서 앞 10개 뽑는 식으로 진행.

f = open('add_BB_touch.csv')
lines = f.readlines()
for i,line in tqdm(enumerate(lines)):
    line = line.strip()
    lst = line.split(',')
    if i == 0:
        tv = lst.index('Trading_Value')
#         hi = lst.index('High')
#         lo = lst.index('Low')
#         close = lst.index('Close')
#         blb = lst.index('BLB')
#         bhb = lst.index('BHB')
#         cci = lst.index('cci')
    else:
        if int(lst[tv]) >= 100_0000_0000:
            idx_lst.append(i-1)
#         break

380590it [00:00, 515383.65it/s]

In [34]:
len(idx_lst)

39983

In [37]:
df['Code'].unique()
df['Code'].nunique() # 1561

array([    20,     40,     50, ..., 900140, 950110, 950130])

1561

In [54]:
k = 10
list(range(k-9,k+1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
## 해당일자를 포함한 d-9 ~ d-0 : x
## 그리고 d-0의 next change : y

dic = {} # 일단 계속 idx를 뽑아두는 중... 형태는 d-0의 idx : d-9 ~ d-0의 idx list

for i in tqdm(df['Code'].unique()):
    a = set(df[df['Code'] == i].index) & set(idx_lst) # 둘이 겹치는 부분이 있다 == 'Code'==i 일때의 idx 중에 tv>=100억인 idx가 있다.
#     list(df[df['Code'] == i].index).index(33)
    for j in list(a):
        if list(df[df['Code'] == i].index).index(j) > 9:
            dic[j] = list(range(j-9,j+1))
#     break
# dic

In [58]:
len(dic)

38054

In [96]:
df

,Code,Date,Open,High,Low,Close,Volume,Trading_Value,Change,Next_Change,...,WR,AO,KAMA,ROC,PPO,PVO,cci,Close_BB,CCI+-20,BB_only
0,20,2018-01-02,9750,9900,9700,9870,120676,1191072120,0.012308,0.013171,...,-22.77230,-790.294,9727.64,0.406918,-1.684990,-14.20070,0.909730,0,1,0.0
1,20,2018-01-03,9900,10250,9820,10000,268220,2682200000,0.013171,-0.025000,...,-21.55170,-618.559,9728.91,1.729400,-1.290220,-9.32307,60.848323,0,0,0.0
2,20,2018-01-04,10050,10050,9680,9750,161342,1573084500,-0.025000,0.016410,...,-43.10340,-499.647,9729.04,-1.015230,-1.171250,-9.88604,18.344160,0,1,0.0
3,20,2018-01-05,9750,9980,9750,9910,116604,1155545640,0.016410,0.004036,...,-29.31030,-371.735,9742.57,-0.800801,-0.933748,-12.21450,42.051362,0,0,1.0
4,20,2018-01-08,10000,10150,9940,9950,158326,1575343700,0.004036,-0.018090,...,-25.86210,-267.265,9756.55,2.471680,-0.704547,-12.15660,91.651788,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380584,950130,2018-12-21,3805,3805,3730,3765,48760,183581400,-0.010512,0.029216,...,-95.03550,-221.632,3979.72,-13.646800,-2.213360,25.62250,-176.943700,0,0,0.0
380585,950130,2018-12-24,3835,4010,3745,3875,105382,408355250,0.029216,0.000000,...,-79.43260,-224.897,3974.87,-8.175360,-2.210980,25.49830,-99.604559,0,0,0.0
380586,950130,2018-12-26,3875,3915,3700,3875,105045,407049375,0.000000,0.029677,...,-76.19050,-243.559,3970.82,-6.850960,-2.184810,24.94570,-108.409321,0,0,0.0
380587,950130,2018-12-27,4090,4090,3905,3990,97302,388234980,0.029677,0.073935,...,-45.28300,-216.588,3970.97,-1.359700,-1.907210,23.47480,-22.971286,0,0,0.5
380588,950130,2018-12-28,4085,4345,4005,4285,211014,904194990,0.073935,0.029171,...,-9.30233,-140.882,3981.43,6.459630,-1.075890,30.74780,77.062414,0,0,0.0

# 100억 row들 뽑아서 옆으로, 아래로 잇기

In [127]:
# dic 개수 38054밖에 안되는데 왜이렇게 오래걸림...
dday_alldf = pd.DataFrame()
for i in tqdm(dic.keys()): # 한 key안에 있는 애들은 전부 옆으로 붙이기
    for k,j in enumerate(dic[i]):
        if k == 0:
            tmp0 = df.iloc[j,2:]
            tmp0.index = [f'D-{9-k}_{col}' for col in tmp0.index]
            tmp0 = pd.DataFrame(tmp0).T
            tmp0 = tmp0.rename(index = {j : i})
        elif k == 9:
            tmp_idx = df.loc[[j]][['Code', 'Date']]
            tmp = df.iloc[j,2:]
            tmp.index = [f'D-{9-k}_{col}' for col in tmp.index]
            tmp = pd.DataFrame(tmp).T
            tmp = tmp.rename(index = {j : i})
            tmp0 = pd.concat([tmp_idx, tmp0, tmp], axis = 1)
            
        else:
#             df.loc[[j]]
            tmp = df.iloc[j,2:]
            tmp.index = [f'D-{9-k}_{col}' for col in tmp.index]
            tmp = pd.DataFrame(tmp).T
            tmp = tmp.rename(index = {j : i})
            tmp0 = pd.concat([tmp0, tmp], axis = 1)
        
    dday_alldf = pd.concat([dday_alldf, tmp0])

dday_alldf

100%|██████████| 38054/38054 [3:06:39<00:00,  3.40it/s]

,Code,Date,D-9_Open,D-9_High,D-9_Low,D-9_Close,D-9_Volume,D-9_Trading_Value,D-9_Change,D-9_Next_Change,...,D-0_WR,D-0_AO,D-0_KAMA,D-0_ROC,D-0_PPO,D-0_PVO,D-0_cci,D-0_Close_BB,D-0_CCI+-20,D-0_BB_only
33,20,2018-02-20,9900,10650,9900,10050,313533,3151006650,-0.024272,-0.004975,...,-28.4091,530.294,10515.9,11.5741,2.05997,57.4149,345.105406,0,0,1.0
34,20,2018-02-21,9620,10000,9530,10000,305434,3054340000,-0.004975,0.005,...,-25.5682,777.5,10812.1,16.2679,2.99448,51.8392,302.466817,0,0,0.0
35,20,2018-02-22,10150,10750,10000,10050,588716,5916595800,0.005,0.019901,...,-21.2202,1070.59,11170.3,21.3592,3.9228,51.3466,261.158561,0,0,0.0
289,40,2018-03-21,2200,2306,2196,2278,272164,619989592,0.031236,0.017559,...,-71.066,101.2,2382.62,6.23354,1.097,26.4383,114.402451,0,0,1.0
298,40,2018-04-03,2362,2647,2354,2420,4291310,10384970200,0.020666,-0.001653,...,-57.0352,-1.8,2360.24,-3.0837,0.157647,3.36188,51.959322,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380112,950110,2018-01-17,8320,8400,7910,8200,421610,3457202000,0.0691,0.02439,...,-36.3636,917.735,8535.1,33.75,5.71594,41.7075,214.894735,0,0,0.0
380116,950110,2018-01-23,8260,8510,7900,8310,194950,1620034500,0.0,-0.008424,...,-37.1429,1766.82,9005.19,23.8095,6.99226,68.3096,204.477715,0,0,0.0
380117,950110,2018-01-24,8060,8400,7100,8240,425251,3504068240,-0.008424,0.012136,...,-36.1905,1796.24,9292.28,19.0205,7.61722,59.3067,148.282521,0,0,0.0
380315,950110,2018-11-16,7940,7940,7600,7740,4288,33189120,0.0,0.029716,...,-5.56586,1660.88,10812.1,66.4336,7.32627,81.7201,255.173323,0,0,0.0
380410,950130,2018-04-06,4850,5200,4710,5050,167404,845390200,0.026423,0.00198,...,-51.6779,-11.7206,5206.43,5.02901,-0.563627,82.3889,297.625596,0,0,1.0

# df 열 삭제 (d-0의 NC를 제외한 모든 NC)
[df 열 여러개 한 번에 삭제](https://zephyrus1111.tistory.com/48)

In [128]:
# NC_idx = [list(tmp0.columns).index(i) for i in list(tmp0.columns) if 'Next_Change' in i] # idx가 아니라 이름으로 하기...
NC_idx = [i for i in list(tmp0.columns) if 'Next_Change' in i]
NC_idx
NC_idx[:-1]
# https://hengbokhan.tistory.com/73 이 방법이 리스트에서 특정문자열이 포함된 문자 찾는 최선의 방법인듯

['D-9_Next_Change',
 'D-8_Next_Change',
 'D-7_Next_Change',
 'D-6_Next_Change',
 'D-5_Next_Change',
 'D-4_Next_Change',
 'D-3_Next_Change',
 'D-2_Next_Change',
 'D-1_Next_Change',
 'D-0_Next_Change']

['D-9_Next_Change',
 'D-8_Next_Change',
 'D-7_Next_Change',
 'D-6_Next_Change',
 'D-5_Next_Change',
 'D-4_Next_Change',
 'D-3_Next_Change',
 'D-2_Next_Change',
 'D-1_Next_Change']

In [129]:
dday_alldf.drop(NC_idx[:-1], axis = 1, inplace = True)

In [130]:
dday_alldf

,Code,Date,D-9_Open,D-9_High,D-9_Low,D-9_Close,D-9_Volume,D-9_Trading_Value,D-9_Change,D-9_MA5,...,D-0_WR,D-0_AO,D-0_KAMA,D-0_ROC,D-0_PPO,D-0_PVO,D-0_cci,D-0_Close_BB,D-0_CCI+-20,D-0_BB_only
33,20,2018-02-20,9900,10650,9900,10050,313533,3151006650,-0.024272,10480.0,...,-28.4091,530.294,10515.9,11.5741,2.05997,57.4149,345.105406,0,0,1.0
34,20,2018-02-21,9620,10000,9530,10000,305434,3054340000,-0.004975,10320.0,...,-25.5682,777.5,10812.1,16.2679,2.99448,51.8392,302.466817,0,0,0.0
35,20,2018-02-22,10150,10750,10000,10050,588716,5916595800,0.005,10170.0,...,-21.2202,1070.59,11170.3,21.3592,3.9228,51.3466,261.158561,0,0,0.0
289,40,2018-03-21,2200,2306,2196,2278,272164,619989592,0.031236,2252.6,...,-71.066,101.2,2382.62,6.23354,1.097,26.4383,114.402451,0,0,1.0
298,40,2018-04-03,2362,2647,2354,2420,4291310,10384970200,0.020666,2426.4,...,-57.0352,-1.8,2360.24,-3.0837,0.157647,3.36188,51.959322,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380112,950110,2018-01-17,8320,8400,7910,8200,421610,3457202000,0.0691,7610.0,...,-36.3636,917.735,8535.1,33.75,5.71594,41.7075,214.894735,0,0,0.0
380116,950110,2018-01-23,8260,8510,7900,8310,194950,1620034500,0.0,8400.0,...,-37.1429,1766.82,9005.19,23.8095,6.99226,68.3096,204.477715,0,0,0.0
380117,950110,2018-01-24,8060,8400,7100,8240,425251,3504068240,-0.008424,8408.0,...,-36.1905,1796.24,9292.28,19.0205,7.61722,59.3067,148.282521,0,0,0.0
380315,950110,2018-11-16,7940,7940,7600,7740,4288,33189120,0.0,7444.0,...,-5.56586,1660.88,10812.1,66.4336,7.32627,81.7201,255.173323,0,0,0.0
380410,950130,2018-04-06,4850,5200,4710,5050,167404,845390200,0.026423,5066.0,...,-51.6779,-11.7206,5206.43,5.02901,-0.563627,82.3889,297.625596,0,0,1.0

# 열 위치 재조정, d-0의 NC name 수정

In [131]:
NC_idx[-1]
not_NC_idx = [i for i in list(dday_alldf.columns) if 'Next_Change' not in i]
not_NC_idx.append(NC_idx[-1])
dday_alldf[not_NC_idx].rename(columns = {NC_idx[-1]:'Next_Change'})

'D-0_Next_Change'

,Code,Date,D-9_Open,D-9_High,D-9_Low,D-9_Close,D-9_Volume,D-9_Trading_Value,D-9_Change,D-9_MA5,...,D-0_AO,D-0_KAMA,D-0_ROC,D-0_PPO,D-0_PVO,D-0_cci,D-0_Close_BB,D-0_CCI+-20,D-0_BB_only,Next_Change
33,20,2018-02-20,9900,10650,9900,10050,313533,3151006650,-0.024272,10480.0,...,530.294,10515.9,11.5741,2.05997,57.4149,345.105406,0,0,1.0,0.008299
34,20,2018-02-21,9620,10000,9530,10000,305434,3054340000,-0.004975,10320.0,...,777.5,10812.1,16.2679,2.99448,51.8392,302.466817,0,0,0.0,0.028807
35,20,2018-02-22,10150,10750,10000,10050,588716,5916595800,0.005,10170.0,...,1070.59,11170.3,21.3592,3.9228,51.3466,261.158561,0,0,0.0,0.0
289,40,2018-03-21,2200,2306,2196,2278,272164,619989592,0.031236,2252.6,...,101.2,2382.62,6.23354,1.097,26.4383,114.402451,0,0,1.0,-0.001653
298,40,2018-04-03,2362,2647,2354,2420,4291310,10384970200,0.020666,2426.4,...,-1.8,2360.24,-3.0837,0.157647,3.36188,51.959322,0,0,1.0,-0.006612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380112,950110,2018-01-17,8320,8400,7910,8200,421610,3457202000,0.0691,7610.0,...,917.735,8535.1,33.75,5.71594,41.7075,214.894735,0,0,0.0,-0.03323
380116,950110,2018-01-23,8260,8510,7900,8310,194950,1620034500,0.0,8400.0,...,1766.82,9005.19,23.8095,6.99226,68.3096,204.477715,0,0,0.0,0.004808
380117,950110,2018-01-24,8060,8400,7100,8240,425251,3504068240,-0.008424,8408.0,...,1796.24,9292.28,19.0205,7.61722,59.3067,148.282521,0,0,0.0,-0.047847
380315,950110,2018-11-16,7940,7940,7600,7740,4288,33189120,0.0,7444.0,...,1660.88,10812.1,66.4336,7.32627,81.7201,255.173323,0,0,0.0,0.0
380410,950130,2018-04-06,4850,5200,4710,5050,167404,845390200,0.026423,5066.0,...,-11.7206,5206.43,5.02901,-0.563627,82.3889,297.625596,0,0,1.0,0.005525

In [133]:
dday_alldf = dday_alldf[not_NC_idx].rename(columns = {NC_idx[-1]:'Next_Change'})

In [135]:
dday_alldf

,Code,Date,D-9_Open,D-9_High,D-9_Low,D-9_Close,D-9_Volume,D-9_Trading_Value,D-9_Change,D-9_MA5,...,D-0_AO,D-0_KAMA,D-0_ROC,D-0_PPO,D-0_PVO,D-0_cci,D-0_Close_BB,D-0_CCI+-20,D-0_BB_only,Next_Change
33,20,2018-02-20,9900,10650,9900,10050,313533,3151006650,-0.024272,10480.0,...,530.294,10515.9,11.5741,2.05997,57.4149,345.105406,0,0,1.0,0.008299
34,20,2018-02-21,9620,10000,9530,10000,305434,3054340000,-0.004975,10320.0,...,777.5,10812.1,16.2679,2.99448,51.8392,302.466817,0,0,0.0,0.028807
35,20,2018-02-22,10150,10750,10000,10050,588716,5916595800,0.005,10170.0,...,1070.59,11170.3,21.3592,3.9228,51.3466,261.158561,0,0,0.0,0.0
289,40,2018-03-21,2200,2306,2196,2278,272164,619989592,0.031236,2252.6,...,101.2,2382.62,6.23354,1.097,26.4383,114.402451,0,0,1.0,-0.001653
298,40,2018-04-03,2362,2647,2354,2420,4291310,10384970200,0.020666,2426.4,...,-1.8,2360.24,-3.0837,0.157647,3.36188,51.959322,0,0,1.0,-0.006612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380112,950110,2018-01-17,8320,8400,7910,8200,421610,3457202000,0.0691,7610.0,...,917.735,8535.1,33.75,5.71594,41.7075,214.894735,0,0,0.0,-0.03323
380116,950110,2018-01-23,8260,8510,7900,8310,194950,1620034500,0.0,8400.0,...,1766.82,9005.19,23.8095,6.99226,68.3096,204.477715,0,0,0.0,0.004808
380117,950110,2018-01-24,8060,8400,7100,8240,425251,3504068240,-0.008424,8408.0,...,1796.24,9292.28,19.0205,7.61722,59.3067,148.282521,0,0,0.0,-0.047847
380315,950110,2018-11-16,7940,7940,7600,7740,4288,33189120,0.0,7444.0,...,1660.88,10812.1,66.4336,7.32627,81.7201,255.173323,0,0,0.0,0.0
380410,950130,2018-04-06,4850,5200,4710,5050,167404,845390200,0.026423,5066.0,...,-11.7206,5206.43,5.02901,-0.563627,82.3889,297.625596,0,0,1.0,0.005525

In [136]:
# dday_alldf.to_csv('final.csv', index = False)

In [137]:
pd.read_csv('final.csv')

,Code,Date,D-9_Open,D-9_High,D-9_Low,D-9_Close,D-9_Volume,D-9_Trading_Value,D-9_Change,D-9_MA5,...,D-0_AO,D-0_KAMA,D-0_ROC,D-0_PPO,D-0_PVO,D-0_cci,D-0_Close_BB,D-0_CCI+-20,D-0_BB_only,Next_Change
0,20,2018-02-20,9900,10650,9900,10050,313533,3151006650,-0.024272,10480.0,...,530.2940,10515.90,11.57410,2.059970,57.41490,345.105406,0,0,1.0,0.008299
1,20,2018-02-21,9620,10000,9530,10000,305434,3054340000,-0.004975,10320.0,...,777.5000,10812.10,16.26790,2.994480,51.83920,302.466817,0,0,0.0,0.028807
2,20,2018-02-22,10150,10750,10000,10050,588716,5916595800,0.005000,10170.0,...,1070.5900,11170.30,21.35920,3.922800,51.34660,261.158561,0,0,0.0,0.000000
3,40,2018-03-21,2200,2306,2196,2278,272164,619989592,0.031236,2252.6,...,101.2000,2382.62,6.23354,1.097000,26.43830,114.402451,0,0,1.0,-0.001653
4,40,2018-04-03,2362,2647,2354,2420,4291310,10384970200,0.020666,2426.4,...,-1.8000,2360.24,-3.08370,0.157647,3.36188,51.959322,0,0,1.0,-0.006612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38049,950110,2018-01-17,8320,8400,7910,8200,421610,3457202000,0.069100,7610.0,...,917.7350,8535.10,33.75000,5.715940,41.70750,214.894735,0,0,0.0,-0.033230
38050,950110,2018-01-23,8260,8510,7900,8310,194950,1620034500,0.000000,8400.0,...,1766.8200,9005.19,23.80950,6.992260,68.30960,204.477715,0,0,0.0,0.004808
38051,950110,2018-01-24,8060,8400,7100,8240,425251,3504068240,-0.008424,8408.0,...,1796.2400,9292.28,19.02050,7.617220,59.30670,148.282521,0,0,0.0,-0.047847
38052,950110,2018-11-16,7940,7940,7600,7740,4288,33189120,0.000000,7444.0,...,1660.8800,10812.10,66.43360,7.326270,81.72010,255.173323,0,0,0.0,0.000000
38053,950130,2018-04-06,4850,5200,4710,5050,167404,845390200,0.026423,5066.0,...,-11.7206,5206.43,5.02901,-0.563627,82.38890,297.625596,0,0,1.0,0.005525